<a href="https://colab.research.google.com/github/Cassi686/dados-importantes/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Olá, Mundo!!!") #função imprimir 

# outros exemplos 
print("Olá, Mundo")
print("")
print("10")
print()
print("@%¨$")


# número do tipo int
print(7)

#número do tipo float
print(7.2)

# soma de números 
print(7+2)

#soma de números float
print(7.2+2.8)

# e se eu colocar os números somados entre aspas? 
print("7"+"2")

# Por que deu 72 e não 9? Porque quando se coloca os números entre aspas.
# E dessa forma não ocorre a soma dos números mas a concatenização. 

print("João"+"Silva")
print("João" + "Silva")

print("meu nome é" + "Cassiano")
print("meu nome é" , "Cassiano")
print("meu nome é" + " Cassiano")

#exemplo de print usando str e número usando ,:
print("Eu tenho",3,"cachorros")

#exemplo de print usando str e número usando +:
#print("meu nome é"+ 3 +"cachorros")#erro proposital

#o print com (,) é como se escrevesse cada ídem em sua vez. 
#o print com (+) provoca uma soma ou concatenização, por isso não tolera str com números
#int + int = soma
#float+float = soma
#int+float = soma
#Str+Str = concatenar
#Str=Int = erro


# Declarando variáveis 

#nomedavariável = valordavariável

Lanche = 'X-Burguer'

Olá, Mundo!!!
Olá, Mundo

10

@%¨$
7
7.2
9
10.0
72
JoãoSilva
JoãoSilva
meu nome éCassiano
meu nome é Cassiano
meu nome é Cassiano
Eu tenho 3 cachorros

In [ ]:
#declarando variável
#nomedavariável = valordavariável
#Exemplo:

Lanche = 'X-Burguer'

#lê-se a variável Lanche recebe o valor X-Burguer do tipo Str

preço = 10.9
qtd = 2

#contas com variáveis

#declarando variáveis
lanchePreco = 10.9
batataPreco = 5.9
refriPreco = 3

print(lanchePreco)

#quanto custa pedir um lanche e uma batata?
print(lanchePreco + batataPreco)

#quanto custa pedir um lanche e um refri?
print(lanchePreco + refriPreco)

#é possível atribuir um valor total ao lanche?
pedidoValorTotal = lanchePreco + batataPreco + refriPreco
print(pedidoValorTotal)

#impressão composta
#forma de pagamento

pagamentoForma = 'cartão .'

pedidoValorTotal = lanchePreco + batataPreco

print(pagamentoForma)
print(pedidoValorTotal)

#erro

print('você pediu um lanche no valor de: R$', lanchePreco, ' uma batata frita no valor de:R$',batataPreco, ' um refrigerante no valor de: R$',refriPreco, 'totalizando o valor de:R$',pedidoValorTotal, 'e pagou na seguinte forma:',pagamentoForma)

10.9
16.8
13.9
19.8
cartão .
16.8
você pediu um lanche no valor de: R$ 10.9  uma batata frita no valor de:R$ 5.9  um refrigerante no valor de: R$ 3 totalizando o valor de:R$ 16.8 e pagou na seguinte forma: cartão .

In [ ]:
#Erro

In [ ]:
#Erro

In [ ]:
#Erro

In [ ]:
#função input
#peça para o usuário qual lanche ele quer pedir
#lancheNome = imput('Qual lanche você quer comer')

lancheNome = input('Qual lanche você quer comer?')
print('Você pediu um:',lancheNome)

lancheNome = input('Qual lanche você quer comer?')
print('Você pediu um:',lancheNome)

#função Type

#No input e em outras funções podemos nos deparar com dados indesjados. 
#Para isso podemos validar usando a função Type()

#use o type em uma string
type('Cassiano')

Qual lanche você quer comer?X-Burguer
Você pediu um: X-Burguer
Qual lanche você quer comer?X-Burguer
Você pediu um: X-Burguer

str

In [ ]:
#use o type em uma string
type('Cassiano')

str

In [ ]:
#use o type em um Float
type(19.5)

float

In [ ]:
#use o type em um Float
type(2.34)

float

In [ ]:
#use o type em um Int
type(5)

int

In [ ]:
#use o type em duas variáveis seguidas
type('Cassiano')
type(5)
#nesse caso só será validado o comando da última linha.
#A sintaxe não foi mais adequada.

print(type(5))
print(type('Cassiano'))
# a sintaxe foi a mais adequada para 2 variáveis.

<class 'int'>
<class 'str'>

In [ ]:
print(type(lanchePreco))
print(type(lancheNome))

In [ ]:
numero = input('digite um número:')
print(type(numero))

digite um número:100
<class 'str'>

In [ ]:
Lanche = 'X-Burguer'
Lanchepreco = 10.9
print(type(Lanche))
print(type(Lanchepreco))

#use o type em duas variáveis seguidas:
variavelTipo = type(Lanchepreco)
print(variavelTipo)

<class 'str'>
<class 'float'>
<class 'float'>

In [ ]:
variavelTipo = type(Lanche)
print(variavelTipo)

<class 'str'>

In [ ]:
# erro

In [ ]:
variavelTipo = type(Lanche)
print(variavelTipo)

<class 'str'>

In [ ]:
#Peça para o usuário digitar um número e veja o tipo desta variável
numero = input('Por favor, digite um número:')
type(numero)

Por favor, digite um número:2

str

In [ ]:
#Dados Booleano

#Crie duas variáveis: pagamentoCartao e pagamentoDinheiro,
#atribua valores Booleanos a ela e verifique o tipo da variável.

pagamentoCartao = True
pagamentoDinheiro = False
print(type(pagamentoCartao))
print(type(pagamentoDinheiro))

<class 'bool'>
<class 'bool'>

In [ ]:
#Dados Booleano

#Crie duas variáveis: pagamentoCartao e pagamentoDinheiro,
#atribua valores Booleanos a ela e verifique o tipo da variável.

pagamentoCartão = True
pagamentoDinheiro = False
print(type(pagamentoCartao))
print(type(pagamentoDinheiro))

<class 'bool'>
<class 'bool'>

In [ ]:
nomePrimeiro = "Cassiano"
nomeMeio = "Ricardo"
nomeUltimo = "Coelho dos Santos"
print(nomePrimeiro,nomeMeio,nomeUltimo,"seja muito bem vindo à DNC.")

Cassiano Ricardo Coelho dos Santos seja muito bem vindo à DNC.

In [ ]:
print(nomePrimeiro,nomeMeio,nomeUltimo,",seja muito bem vindo à DNC.")

Cassiano Ricardo Coelho dos Santos ,seja muito bem vindo à DNC.

In [ ]:
nomePrimeiro = "Cassiano"
nomeMeio = "Ricardo"
nomeUltimo = "Coelho dos Santos,"
print(nomePrimeiro,nomeMeio,nomeUltimo,"seja muito bem vindo à DNC.")

Cassiano Ricardo Coelho dos Santos, seja muito bem vindo à DNC.

In [ ]:
nomePrimeiro = input('Qual é o seu primeiro nome?:')
nomedoMeio = input('Qual é o seu nome do meio?:')
nomeUltimo = input('Qual é o seu último nome?:')
print(nomePrimeiro,nomedoMeio,nomeUltimo,', seja muito bem vindo à DNC.' )

Qual é o seu primeiro nome?:Cassiano
Qual é o seu nome do meio?:Ricardo
Qual é o seu último nome?:Coelho dos Santos
Cassiano Ricardo Coelho dos Santos , seja muito bem vindo à DNC.

In [ ]:
nomedoCliente = 'Edilce Guerra'

In [ ]:
nomedoCliente = 'Edilce Guerra'
idadedoCliente = 44 
print('o nome do cliente é:',nomedoCliente)
print('a idade do cliente é:',idadedoCliente)

o nome do cliente é: Edilce Guerra
a idade do cliente é: 44

In [ ]:
nomedoCliente = 'Edilce Guerra'
idadedoCliente = 44 
print('o nome do cliente é:',nomedoCliente)
print('a idade do cliente é:',idadedoCliente)

o nome do cliente é: Edilce Guerra
a idade do cliente é: 44

In [ ]:
nomedoCliente = input('Qual é o seu nome?:')
idadedoCliente = input('Qual é a sua idade?')
print(' o nome do Cliente é:',nomedoCliente)
print('a idade do cliente é:',idadedoCliente)

Qual é o seu nome?:Cassiano Santos
Qual é a sua idade?44
 o nome do Cliente é: Cassiano Santos
a idade do cliente é: 44

In [ ]:
nomedoCliente = input('Qual é o seu nome?:')
idadedoCliente = input('Qual é a sua idade?')
print('o nome do Cliente é:',nomedoCliente)
print('a idade do cliente é:',idadedoCliente)

Qual é o seu nome?:Cassiano Santos
Qual é a sua idade?44
o nome do Cliente é: Cassiano Santos
a idade do cliente é: 44

In [ ]:
valordoProduto = 25.3
clientePremium = True 
clienteComum = False
print('o valor do produto é:',valordoProduto)
print('o tipo da variável valor do produto é:',type(valordoProduto))
print('o cliente é premium?:',clientePremium)
print('o tipo de variável do cliente premium é:',type(clientePremium))

o valor do produto é: 25.3
o tipo da variável valor do produto é: <class 'float'>
o cliente é premium?: True
o tipo de variável do cliente premium é: <class 'bool'>

In [ ]:
#Rode esta função:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
from binascii import b2a_hex
# soma +
# subtração - 
#Multiplicação *
#Divisão /
#Potência **
#Divisão inteira //
#Resto da divisão % 

# Data as variáveis: 
#a=7
#b=2
#Faça as operações aritméticas acima:

# Declaando as variáveis 
a=7
b=2

#soma
print(a+b)
print(7+2)
print(type(a+b))
#subtração
print(a-b)
print(7-2)
print(type(a-b))
#Multiplicação 
print(a*b)
print(7*2)
print(type (a*b))
#divisão 
print(a/b)
print(7/2)
print(type (a/b))
#potência 
print(a**b)
print(7**2)
print(type(a**b))
#divisão inteira 
print(a//b)
print(7//2)
print(type (a//b))
#resto de divisão
print(a%b)
print(7%2)
print(type(a%b))

print(7+b) # é possível usar número com variável

9
9
<class 'int'>
5
5
<class 'int'>
14
14
<class 'int'>
3.5
3.5
<class 'float'>
49
49
<class 'int'>
3
3
<class 'int'>
1
1
<class 'int'>
9

In [ ]:
#operações com texto str

#concatenação de 2 textos

'Meu nome é Cassiano Santos'+   ' e moro em Porto Alegre'

nomeprimeiro = 'Cassiano'
nomeúltimo = ' Santos'
nomeprimeiro+nomeúltimo

#repetir a palavra olá 5 vezes 

'olá ' * 5
print ('olá '*5)

olá olá olá olá olá

In [ ]:
#operações com texto str

#concatenação de 2 textos

'Meu nome é Cassiano Santos'+   ' e moro em Porto Alegre'

nomeprimeiro = 'Cassiano'
nomeúltimo = ' Santos'
nomeprimeiro+nomeúltimo

'Cassiano Santos'

In [ ]:
#operações com texto str

#concatenação de 2 textos

print('Meu nome é Cassiano Santos'+   ' e moro em Porto Alegre')

nomeprimeiro = 'Cassiano'
nomeúltimo = ' Santos'
print(nomeprimeiro+nomeúltimo)
print('olá '*5)

Meu nome é Cassiano Santos e moro em Porto Alegre
Cassiano Santos
olá olá olá olá olá

In [ ]:
#mini desafio

#escrever texto de boas vindas

print('___________________________________________________________________________________________________________')

print('                                  Seja bem vindo ao curso de Python da DNC                                 ')
print('___________________________________________________________________________________________________________')

___________________________________________________________________________________________________________
                                  Seja bem vindo ao curso de Python da DNC
___________________________________________________________________________________________________________

In [ ]:
print('___________________________________________________________________________________________________________')
print()
print('                                  Seja bem vindo ao curso de Python da DNC                                 ')
print('___________________________________________________________________________________________________________')

___________________________________________________________________________________________________________

                                  Seja bem vindo ao curso de Python da DNC
___________________________________________________________________________________________________________

In [ ]:
print('_'*80)
print()
print(' '*20, 'Seja bem vindo ao curso de Python da DNC' )
print('_'*80)

________________________________________________________________________________

                     Seja bem vindo ao curso de Python da DNC
________________________________________________________________________________

In [ ]:
print('-'*80)
print()
print(' '*20, 'Seja bem vindo ao curso de Python da DNC' )
print()
print('-'*80)

--------------------------------------------------------------------------------

                     Seja bem vindo ao curso de Python da DNC

--------------------------------------------------------------------------------

In [ ]:
print('+-'*80)
print()
print(' '*40, 'Seja bem vindo ao curso de Python da DNC' )
print()
print('+-'*80)

+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-

                                         Seja bem vindo ao curso de Python da DNC

+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-

In [ ]:
#ordem de prescedência aritmética

#1.Parênteses:()
#2.Potência:**
#3.multiplicação, divisão, resto, divisão inteira:*,/,%,//.
#4.soma,subtração: +,-

#Exercícicos.
#Para as contas abaixo use as variáveis.
#a=5
#b=7
#c=3.45
#d=5.50

#Declarando variáveis

a = 5
b = 7
c = 3.45
d = 5.50

#quanto é a+b*d?

print(a + b * d)

#quanto é (a + b) * d?

print((a + b) * d)

#quanto é : b** a * c?

print(b** a * c)

#quanto é: b**(a*c) ?

print(b**(a * c))

43.5
66.0
57984.15
378391341587299.8

In [ ]:
#Problema 1

#Fui a uma hamburgueria e comprei 2 lanches por 10,90 cada,
#3 refrigerantes por 4,50 cada e 1 batata por 8,45. Pergunta-se:

#1. qual o valor total da conta?

#declarando variáveis

valorLanche = 10.90
valorRefrigerante = 4.50 
valorBatata = 8.45

print(2*valorLanche + 3*valorRefrigerante + valorBatata   )

valorLanche = 10.90
qtdlanche = 2
valorRefrigerante = 4.50 
qtdrefrigerante = 3
valorBatata = 8.45
qtdBatata = 1


print( valorLanche * qtdlanche + valorRefrigerante * qtdrefrigerante + valorBatata * qtdBatata )

contaTotal = valorLanche * qtdlanche + valorRefrigerante * qtdrefrigerante + valorBatata * qtdBatata 

print(' O valor total da compra é:R$ ', contaTotal)

# Quantas notas de 10 reais eu utilizei na compra?

print(contaTotal/10)
print(contaTotal//10)

nota10qtd = contaTotal//10

valorfaltante = contaTotal - nota10qtd * 10
print(valorfaltante)

#Resposta

print('Usei',nota10qtd, 'notas de 10 reais')
type(nota10qtd)
print(int(nota10qtd))
type(nota10qtd)
print(nota10qtd)

print('Usei',nota10qtd, 'notas de 10 reais')

#Quantidade de notas de 5 que utilizei?

notade5qtd = valorfaltante//5+1
valorfaltante = valorfaltante - notade5qtd * 5
print('usei',notade5qtd, 'notas de 5 reais')


print(valorfaltante)

#resposta

print('usei',notade5qtd, 'notas de 5 reais')


#Quanto voltou de troco em notas?

# Só existem notas de 2 reais abaixo de notas de 5 reais.

nota2qtd = (-valorfaltante) // 2
valorfaltante = valorfaltante + nota2qtd * 2

print(nota2qtd)
print(valorfaltante)

#resposta
print('recebi',nota2qtd, 'notas de 2 reais')
print('recebi',int(nota2qtd), 'notas de 2 reais')

#Quanto recebi de troco em moedas?

# O troco será somente em moedas, pois em nota não será possível. 

moedaValor = 0 - valorfaltante
valorfaltante = moedaValor + valorfaltante

print(moedaValor)
print(valorfaltante)

#resposta

print('recebi',(moedaValor),'de troco em moedas.')

# Transformação de variáveis

#Para transformar para strings: str()
#Para transformar para inteiro: int()
#Para transformar para real: float()

#Vamos utilizar as seguintes variáveis.

# a = 1.857
# b = '4'
# c = True
# d = False
# e = 'tex34'

#Declarando variáveis
a = 1.857
b = '4'
c = True
d = False
e = 'tex34'

# transforme as vriáveis acima em int.

int(a)
int(b)
int(c)
int(d)
#variável e não é possível a conversão.

#transforme as variáveis para float.

float(a)
float(b)
float(c)
float(d)
#variavel e não é possível a transformação.

print(type(a))
print(type(float(a)))

print(type(b))
print(type(float(b)))

# transforme as variáveis para string
# mude a variável b para 2.758

b = 2.758

str(a)
str(b)
str(c)
str(d)
str(e)

43.75
43.75
 O valor total da compra é:R$  43.75
4.375
4.0
3.75
Usei 4.0 notas de 10 reais
4
4.0
Usei 4.0 notas de 10 reais
usei 1.0 notas de 5 reais
-1.25
usei 1.0 notas de 5 reais
0.0
-1.25
recebi 0.0 notas de 2 reais
recebi 0 notas de 2 reais
1.25
0.0
recebi 1.25 de troco em moedas.
<class 'float'>
<class 'float'>
<class 'str'>
<class 'float'>

'tex34'

In [ ]:
# Impressão personalizada
#print()com.format()

# print comum:
lanchePreco = 10.9
batataPreco = 8.45
print('você pediu um lanche de R$', lanchePreco, 'e uma batata de R$',batataPreco, 'totalizando: R$', lanchePreco + batataPreco)
#erro

você pediu um lanche de R$ 10.9 e uma batata de R$ 8.45 totalizando: R$ 19.35

In [ ]:
lanchePreco = 10.9
batataPreco = 8.45
total = lanchePreco + batataPreco
print('você pediu um lanche de: R$ {} e uma batata de: R${} totalizando: R$ {}'.format(lanchePreco,batataPreco,total))

você pediu um lanche de: R$ 10.9 e uma batata de: R$8.45 totalizando: R$ 19.35

In [ ]:
#Personalizando a máscara

#Dentro da máscara temos: {0:10.2f}

# | 0 -> posição que a variável aparece dentro do .format().[Pode ser deixado em branco.]
# | : -> separador a partir deles começamos as formatações
# | 10 -> separamos 10 casas caracteres dentro do print para mostrarmos o número. 
# | . -> a partir do ponto, estamos formatando os valores após a vírgula decimal.
# | 2 -> quantidade de casas decimais
# | f -> f para flout ou d para inteiro. 

# Exemplo: 

# Plote as variáveis abaixo 

a = 245
b = 2.835895

print('| {} | e | {} |'.format(a,b))

print('| {0:10} | e | {1:10.3f} |'.format(a,b))

| 245 | e | 2.835895 |
|        245 | e |      2.836 |

In [ ]:
N1 = 7
N2 = 5 

N1 = input(' quantos gols o Brasil levou da Alemanha?')
print('você respondeu que o Brasil levou',N1, 'gol(s) da Alemanha.')

N2 = input(' quantas copas do Mundo o Brasil já venceu?')
print('você respondeu que o Brasil venceu',N2, 'Copa(s) do mundo.')

print(N1 + N2)

 quantos gols o Brasil levou da Alemanha?7
você respondeu que o Brasil levou 7 gol(s) da Alemanha.
 quantas copas do Mundo o Brasil já venceu?5
você respondeu que o Brasil venceu 5 Copa(s) do mundo.
75

In [ ]:
print (7 + 5)
print (N1 + N2)
print (7 + 5)
print (7 - 5)
print(7 * 5)

12
75
12
2
35

In [ ]:
N1 = 7
N2 = 5
adição = N1 + N2
print(adição)
subtração = N1 - N2
print(subtração)
multiplicação = N1 * N2
print(multiplicação)
Divisão = N1/N2
print(Divisão)
resto = N1%N2
print(resto)
exponência = N1 ** N2
print(exponência)
teste = N1*5
print(teste)

12
2
35
1.4
2
16807
35

In [ ]:
N = ()
N0= N*0
N1= N*1
N2= N*2
N3= N*3
N4= N*4
N5= N*5
N6= N*6
N7= N*7
N8= N*8
N9= N*9
N10= N*10

N = input('digite um número inteiro:')
print('você escolheu o número:',N)

int(N)

print('Tabuada:')

print('----------------------------------------')
print(N,'* 0 =',N0)
print(N,'* 1 =',N1)
print(N,'* 2 =',N2)
print(N,'* 3 =',N3)
print(N,'* 4 =',N4)
print(N,'* 5 =',N5)
print(N,'* 6 =',N6)
print(N,'* 7 =',N7)
print(N,'* 8 =',N8)
print(N,'* 9 =',N9)
print(N,'* 10 =',N10)

digite um número inteiro:2
você escolheu o número: 2
Tabuada:
----------------------------------------
2 * 0 = ()
2 * 1 = ()
2 * 2 = ()
2 * 3 = ()
2 * 4 = ()
2 * 5 = ()
2 * 6 = ()
2 * 7 = ()
2 * 8 = ()
2 * 9 = ()
2 * 10 = ()

In [ ]:
N = ()
N0= (N*0)
N1= (N*1)
N2= (N*2)
N3= (N*3)
N4= (N*4)
N5= (N*5)
N6= (N*6)
N7= (N*7)
N8= (N*8)
N9= (N*9)
N10= (N*10)

N = ()
N0= N*0
N1= N*1
N2= N*2
N3= N*3
N4= N*4
N5= N*5
N6= N*6
N7= N*7
N8= N*8
N9= N*9
N10= N*10

digite um número inteiro:10
você escolheu o número: 10
Tabuada:
----------------------------------------
10 * 0 = ()
10 * 1 = ()
10 * 2 = ()
10 * 3 = ()
10 * 4 = ()
10 * 5 = ()
10 * 6 = ()
10 * 7 = ()
10 * 8 = ()
10 * 9 = ()
10 * 10 = ()

In [ ]:
N = 10
N0= 10*0
N1= 10*1
N2= 10*2
N3= 10*3
N4= 10*4
N5= 10*5
N6= 10*6
N7= 10*7
N8= 10*8
N9= 10*9
N10= 10*10

N = input('digite um número inteiro:')

int(N)


print('Tabuada  ----------------------------------------')
print(N,'* 0 = {}'.format(N0))
print(N,'* 1 = {}'.format(N1))
print(N,'* 2 = {}'.format(N2))
print(N,'* 3 = {}'.format(N3))
print(N,'* 4 = {}'.format(N4))
print(N,'* 5 = {}'.format(N5))
print(N,'* 6 = {}'.format(N6))
print(N,'* 7 = {}'.format(N7))
print(N,'* 8 = {}'.format(N8))
print(N,'* 9 = {}'.format(N9))
print(N,'* 10 = {}'.format(N10))

digite um número inteiro:56
Tabuada  ----------------------------------------
56 * 0 = 0
56 * 1 = 10
56 * 2 = 20
56 * 3 = 30
56 * 4 = 40
56 * 5 = 50
56 * 6 = 60
56 * 7 = 70
56 * 8 = 80
56 * 9 = 90
56 * 10 = 100

In [ ]:
N = 10
N0= 10*0
N1= 10*1
N2= 10*2
N3= 10*3
N4= 10*4
N5= 10*5
N6= 10*6
N7= 10*7
N8= 10*8
N9= 10*9
N10= 10*10


N = input('digite um número inteiro:')
print('você escolheu o número:',N)

print('Tabuada:')


print('----------------------------------------')
print(N,'* 0 = {}'.format(N0))
print(N,'* 1 = {}'.format(N1))
print(N,'* 2 = {}'.format(N2))
print(N,'* 3 = {}'.format(N3))
print(N,'* 4 = {}'.format(N4))
print(N,'* 5 = {}'.format(N5))
print(N,'* 6 = {}'.format(N6))
print(N,'* 7 = {}'.format(N7))
print(N,'* 8 = {}'.format(N8))
print(N,'* 9 = {}'.format(N9))
print(N,'* 10 = {}'.format(N10))

digite um número inteiro:10
você escolheu o número: 10
Tabuada:
----------------------------------------
10 * 0 = 0
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
N = ()
N1 = N*1
N = 2
N1 = N*1

print(N1)

2

In [ ]:

#Erro

In [ ]:
N = ()
N = input('digite um número:')
print(N)
N11 = N * 8
print(N11)

digite um número:2
2
22222222

In [ ]:
N = 10
N0= 10*0
N1= 10*1
N2= 10*2
N3= 10*3
N4= 10*4
N5= 10*5
N6= 10*6
N7= 10*7
N8= 10*8
N9= 10*9
N10= 10*10


N = input('digite um número inteiro:')
print('você escolheu o número:',N)

int()

print('Tabuada:')


print('----------------------------------------')
print(N,'* 0 = {}'.format(N0))
print(N,'* 1 = {}'.format(N1))
print(N,'* 2 = {}'.format(N2))
print(N,'* 3 = {}'.format(N3))
print(N,'* 4 = {}'.format(N4))
print(N,'* 5 = {}'.format(N5))
print(N,'* 6 = {}'.format(N6))
print(N,'* 7 = {}'.format(N7))
print(N,'* 8 = {}'.format(N8))
print(N,'* 9 = {}'.format(N9))
print(N,'* 10 = {}'.format(N10))

digite um número inteiro:10
você escolheu o número: 10
Tabuada:
----------------------------------------
10 * 0 = 0
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
N = 10
N0= N*0
N1= N*1
N2= N*2
N3= N*3
N4= N*4
N5= N*5
N6= N*6
N7= N*7
N8= N*8
N9= N*9
N10= N*10

N = input('digite um número inteiro:')
print('você escolheu o número:',N)

int(N)
 
print('----------------------------------------')
print(N,'* 0 = {}'.format(N0))
print(N,'* 1 = {}'.format(N1))
print(N,'* 2 = {}'.format(N2))
print(N,'* 3 = {}'.format(N3))
print(N,'* 4 = {}'.format(N4))
print(N,'* 5 = {}'.format(N5))
print(N,'* 6 = {}'.format(N6))
print(N,'* 7 = {}'.format(N7))
print(N,'* 8 = {}'.format(N8))
print(N,'* 9 = {}'.format(N9))
print(N,'* 10 = {}'.format(N10))

digite um número inteiro:10
você escolheu o número: 10
----------------------------------------
10 * 0 = 0
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
N = 10
N0= N*0
N1= N*1
N2= N*2
N3= N*3
N4= N*4
N5= N*5
N6= N*6
N7= N*7
N8= N*8
N9= N*9
N10= N*10

int(N)
 
print('-p---------------------------------------')
print(N,'* 0 = {}'.format(N0))
print(N,'* 1 = {}'.format(N1))
print(N,'* 2 = {}'.format(N2))
print(N,'* 3 = {}'.format(N3))
print(N,'* 4 = {}'.format(N4))
print(N,'* 5 = {}'.format(N5))
print(N,'* 6 = {}'.format(N6))
print(N,'* 7 = {}'.format(N7))
print(N,'* 8 = {}'.format(N8))
print(N,'* 9 = {}'.format(N9))
print(N,'* 10 = {}'.format(N10))

digite um número inteiro:10
você escolheu o número: 10
----------------------------------------
10 * 0 = 0
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [ ]:
Km = 200
Lt = 12
Resultado = Km/Lt

Km = input('Quantos quilômetros você andou com seu carro?:')
Lt = input('Quantos litros seu carro andou?:')
print(' O seu carro consumiu {0:10.2F} Km/lt'.format(Resultado))

Quantos quilômetros você andou com seu carro?:200
Quantos litros seu carro andou?:12
 O seu carro consumiu      16.67 Km/lt

In [ ]:
N = ()
N = int(input('Digite um número inteiro:'))

N0= N*0
N1= N*1
N2= N*2
N3= N*3
N4= N*4
N5= N*5
N6= N*6
N7= N*7
N8= N*8
N9= N*9
N10= N*10

print('-p---------------------------------------')
print(N,'* 0 = {}'.format(N0))
print(N,'* 1 = {}'.format(N1))
print(N,'* 2 = {}'.format(N2))
print(N,'* 3 = {}'.format(N3))
print(N,'* 4 = {}'.format(N4))
print(N,'* 5 = {}'.format(N5))
print(N,'* 6 = {}'.format(N6))
print(N,'* 7 = {}'.format(N7))
print(N,'* 8 = {}'.format(N8))
print(N,'* 9 = {}'.format(N9))
print(N,'* 10 = {}'.format(N10))

Digite um número inteiro:14
-p---------------------------------------
14 * 0 = 0
14 * 1 = 14
14 * 2 = 28
14 * 3 = 42
14 * 4 = 56
14 * 5 = 70
14 * 6 = 84
14 * 7 = 98
14 * 8 = 112
14 * 9 = 126
14 * 10 = 140

In [ ]:
Km = ()
Lt = ()
Km = int(input('Quantos quilômetros seu carro percorreu?'))
Lt = int(input('Quantos litros de combustível seu carro consumiu?'))
Resultado = Km/Lt
print(' O seu carro consumiu {0:10.2F} Km/lt'.format(Resultado))

Quantos quilômetros seu carro percorreu?40
Quantos litros de combustível seu carro consumiu?3
 O seu carro consumiu      13.33 Km/lt

In [ ]:
#Declarando variáveis:
a = 7
b = 2

#a == b
a == b

False

In [ ]:
# a!= b
a != b

True

In [ ]:
# a > b
a > b

True

In [ ]:
# a >= b
a >= b

True

In [ ]:
# a < b
a < b

False

In [ ]:
# a <= b
a <= b

False

In [ ]:
# Exercícios de comparadores 

#Pedindo inputs
c = float(input('Digite um número:'))
d = float(input(' Digite outro número:'))

comparacao = c == d

#Imprimindo comparação
print('A variável c é igual a variável d: {}'.format(comparacao))

Digite um número:7
 Digite outro número:3
A variável c é igual a variável d: False

In [ ]:
# compare se a variável 1 é maior que a variável 2.

comparacao = c >= d
#Imprimindo comparação
print('A variável a é maior que a variável b:{}'.format(comparacao))

A variável a é maior que a variável b:True

In [ ]:
# dado o preço do lanche 10.90 e da batata 5.40. Calcule quanto irá sair a conta do usuário. 
# O usuário deve inserir a quantidade de lanche que ele quer e a quantidade de batatas.
# Finalmente peça para o usuário informar quanto dinheiro tem na carteira e verifique se ele irá pagara a conta.

lanchePreco = 10.90
batataPreco = 5.40
lancheQtd = float(input('Quantos lanches?'))
batataQtd = float(input('Quantas batatas?'))
dinheiroTotal = float(input('Quanto dinheiro você tem?'))
# Calculando preço total
custoTotal = lanchePreco * lancheQtd + batataPreco * batataQtd
comparacao = dinheiroTotal >= custoTotal
print(custoTotal)
# Imprimindo resposta
print('A sua compra total ficou:R${:.2f}'.format(custoTotal))
print('você possui dinheiro o suficiente para pagar:{}'.format(comparacao))

Quantos lanches?5
Quantas batatas?3
Quanto dinheiro você tem?50
70.7
A sua compra total ficou:R$70.70
você possui dinheiro o suficiente para pagar:False

In [ ]:
# Condicional simples if - else.
# As condicionais simples possuem apenas dois caminhos para se seguir: o caminho verdadeiro e o falso.
#Após fazer a condição pelo if o programa vai seguir caminhos diferentes.

# Estrutura do if - else 

#if condição
#Bloco verdadeiro

#else
#Bloco falso

# Pontos de atenção:
# .Não esqueça dos ':'
# .Não esqueça da identação.

# exemplo True - False
if True:
  print('Bloco da verdade')
else:
  print('Bloco False')
print('estou fora do bloco')

Bloco da verdade
estou fora do bloco

In [ ]:
# Exemplo 1

# Dado as variáveis:
#a = 2
#b = 3
# comparesse a == b e imprima uma mensagem de resultado.

#declarando as variáveis
a = 2
b = 3
#desenhando o if
if a == b:
  print('A variável a, que vale {} é igual a variável b, que vale {}'.format(a,b))
else:
  print(' a variável a, que vale {} é difrente da variável b, que vale {}'.format(a,b))
print('Fim da comparação.')

 a variável a, que vale 2 é difrente da variável b, que vale 3
Fim da comparação.

In [ ]:
# Agora...mude a variável:
#b = 2
#e execute o mesmo código anterior.

b = 2
if a == b:
  print('A variável a, que vale {} é igual a variável b, que vale {}'.format(a,b))
else:
  print(' a variável a, que vale {} é difrente da variável b, que vale {}'.format(a,b))
print('Fim da comparação.')

A variável a, que vale 2 é igual a variável b, que vale 2
Fim da comparação.

In [ ]:
# Exemplo 2 
#1. Faça um programa que pede pra um usuário digitar 2 números e:
# . Se num1 >= num2 então multiplique o num2 por 5
# . Caso contrário, multiplique o num1 por 5.

# Pedindo inputs
Num1 = float(input(' Digite um número:'))
Num2 = float(input('Digite um número:'))

#Fazendo if

if Num1 >= Num2:
  print('Num1 é maior ou igual a Num2')
  Num2 = Num2*5
else:
  print('Num2 é maior que o Num1')
  Num1 = Num1*5
print('Num1 = {} e Num2 = {}'.format(Num1,Num2))

 Digite um número:2
Digite um número:5
Num2 é maior que o Num1
Num1 = 10.0 e Num2 = 5.0

In [ ]:
#condições alinhadas if - elif - else

# Esses condicionais são utilizados somente quando não temos somente dois casos(True e False).
# Mas sim quando temos vários casos.

#if condiçaõ 1:

 #Bloco condição 1 vrdadeiro 

#elif condição 2:
 #Bloco condição 2 verdadeiro.

#else:
 #Bloco falso.

# Exemplo

# dada as variáveis:

#a = 2 
#b = 3
# Compare e mostre para o usuário se uma é igual a outra,ou se uma é maior que a outra. E neste caso qual é o maior.

# Declarando variáveis:

a = 4
b = 3

# Mostrando o if - elif - else:

if a == b:
  print('a é igual a b')
elif a < b:
  print('a é menor que b')
else:
  print('A é maior do que  B.')
print('Fim.')

A é maior do que  B.
Fim.

In [ ]:
# Agora faça um programa onde o usuário poderá digitar os dois números e você fará essas comparações.

# Declarando variáveis:

a = float(input('Digite um número:'))
b = float(input('Digite outro número:'))

if a == b:
  print('  a é igual o b')
elif  a < b:
  print(' a é menor que o b') 
else:
  print(' a é maior que o b')
print('Fim.')

Digite um número:54.8
Digite outro número:36.9
 a é maior que o b
Fim.

In [ ]:
# Exercício 3

# Faça um programa que o usuário irá digitar a vontade que ele está de comer algo.

# Caso esse input seja:

#. Lanche = então imprima: Vá ao Mequi.
#. Pizza = então imprima: Vá ao Hut.
#. Mexicano = então imprima: Vá ao Bell.
#. Caso contrário = então imprima: Tente novamnte.


vontade = input(' O que você quer comer?')
if vontade == 'Lanche':
  print('Vá ao Mequi.')
elif vontade == 'Pizza':
  print('Vá ao Hut.')
elif vontade == 'Mexicano':
  print('Vá ao Bell.')
else:
  print('Tente novamente.')
print('Fim do programa.')

 O que você quer comer?Japonês
Tente novamente.
Fim do programa.

In [ ]:
# Operadores lógicos.

#Os operadores lógicos são usados quando precisamos de multiplas condições em 1 só if.

# and: ambas as condições precisam ser satisfeitas simultaneamente. 

# or: pelo menos uma condição precisa ser satisfeita.

# True and True: True
# True and False: False
# True or False: True
# False or True: True
# False or False: False

#Exemplo 1
#Se eu tiver mais de 20 reais e o preço do lanche for menor que 10 reais, então eu compro o lanche.

lanchePreco = float(input('Qual é o preço do lanche?'))
Saldo = float(input('Quanto dinheiro você tem?'))

if Saldo >= 20 and lanchePreco < 10:
  print('Comprar o lanche.')
else: 
  print('Não comprar o lanche.')

Qual é o preço do lanche?12
Quanto dinheiro você tem?50
Não comprar o lanche.

In [ ]:
# Exemplo 2
# Se você tiver média nas notas maior que 7 ou nota na prova final maior que 7 você está aprovado. 
media = float(input('Qual é a sua média de notas?'))
mediaFinal = float(input('Qual é a sua média final?'))

if media > 7 or mediaFinal > 7:
  print('Aprovado.')
else:
  print('Reprovado.')

Qual é a sua média de notas?5
Qual é a sua média final?6
Reprovado.

In [ ]:
# Verificando variáveis.
# Esta funcionalidade é muito usada para testar e saber se podemos converter variáveis dadas pelo usuário.

#.isnumeric(): o input é numérico.
#.isalpha(): o input é texto.
#.isalnum(): o input é texto e numérico.

# Exemplo
# Peça para o usuário digitar alguma coisa e verifique o que é.

entrada = input('Digite algo:')

éNum = entrada.isnumeric()
éTex = entrada.isalpha()
éNumTex = entrada.isalnum()
print(éNum)
print(éTex)
print(éNumTex)

Digite algo:12
True
False
True

In [ ]:
entrada = input('digite algo:')
Número = entrada.isnumeric()

if Número:
  print('Esse input é um número.')
else:
  print('Esse input não é um número, tente novamente.')
print('Fim.')

digite algo:12
Esse input é um número.
Fim.

In [ ]:
entrada = float(input('digite um número par:'))
par = entrada % 2

if par == 0:
  print('o número é par.')
else:
  print(' o número é impar, tente novamente.')
print('Fim.')

digite um número par:39
 o número é impar, tente novamente.
Fim.

In [ ]:
entrada = int(input('Digite um número inteiro:'))
entrada2 = int(input('Digite outro número inteiro:'))

Div = entrada % entrada2
if Div == 0:
  print('Os números são divisíveis')
else: 
  print(' Os números não são divisíveis.')
print('Fim.')

Digite um número inteiro:44
Digite outro número inteiro:10
 Os números não são divisíveis.
Fim.

In [ ]:
entrada = float(input('Digite um número:'))
entrada2 = float(input('Digite outro número'))
Operação = input( ' Escolha a operação: Soma, Subtração, Divisão, Multiplicação, Potência.')

Soma = entrada + entrada2
Subtração = entrada - entrada2
Divisão = entrada / entrada2
Multiplicação = entrada * entrada2
Potência = entrada ** entrada2


if Operação == 'Soma':
  print('O num 1 + Num 2 =' ,Soma)
elif Operação == 'Subtração':
  print('O Num 1 - Num 2 =' ,Subtração) 
elif Operação == 'Divisão':
  print('O Num 1 / Num 2 =' ,Divisão)
elif Operação == 'Multiplicação':
  print('O Num 1 x Num 2 =' ,Multiplicação)
elif Operação == 'Potência':
  print('O Num 1 elevado ao Num 2 =' ,Potência)
else:
  ('Erro')

Digite um número:5
Digite outro número10
 Escolha a operação: Soma, Subtração, Divisão, Multiplicação, Potência.Multiplicação
O Num 1 x Num 2 = 50.0

In [ ]:
nome = input(' Diga seu nome:')
diaNasc = int(input('Digite o dia de seu nascimento:'))
mesNasc = int(input('Digite o mês de seu nascimento:'))
anoNasc = int(input('Digite o ano de seu nascimento:'))

if anoNasc <= 2004 and mesNasc <= 12: 
  print('Você é maior de idade e pode comprar bebida.')
else:
  print(' Você é menor de idade e não pode comprar bebida.')

 Diga seu nome:Bruna
Digite o dia de seu nascimento:20
Digite o mês de seu nascimento:02
Digite o ano de seu nascimento:1997
Você é maior de idade e pode comprar bebida.

In [ ]:
# Exercício 2

nota1 = float(input('Digite a sua primeira nota:'))
nota2 = float(input('Digite a sua segunda nota:'))
nota3 = float(input('Digite a sua terceira nota:'))

mediaFinal = (nota1 + nota2 + nota3) / 3
print('{:.2f}'.format(mediaFinal))

if mediaFinal >= 80.0:
  print('Aprovado')
else:
  print('Reprovado')
print('Fim.')

Digite a sua primeira nota:85
Digite a sua segunda nota:89
Digite a sua terceira nota:92
88.67
Aprovado
Fim.

In [ ]:
altura = float(input('Digite altura do paciente:'))
par = altura % 2
if par == 0:
  print('A altura que foi digitada {} cm, é um número par.'.format(altura))
else:
  print('A altura que foi digitada é {} cm,e é um número ímpar.'.format(altura))
print('Fim.')

Digite altura do paciente:183
A altura que foi digitada é 183.0 cm,e é um número ímpar.
Fim.

In [ ]:
diaDoAno = int(input('Digite a quantidade de dias no ano:'))

if diaDoAno >= 1 and diaDoAno <= 90:
  print('Primeiro Trimestre.')
elif diaDoAno >= 91 and diaDoAno <= 181:
  print('Segundo semestre.')
elif diaDoAno >= 182 and diaDoAno <= 272:
  print('Terceiro semestre.')
else: 
  print('Quarto semestre.')
print('Fim.')

Digite a quantidade de dias no ano:184
Terceiro semestre.
Fim.

In [ ]:
num1 = float(input('Digite um número:'))
num2 = float(input('Digite um número:'))
num3 = float(input('Digite um número:'))

num1M1 = num1 > num2
num1M2 = num1 > num3
num2M1 = num2 > num1
num2M2 = num2 > num3
num3M1 = num3 > num1
num3M2 = num3 > num2
empate1 = num1 == num2 > num3
empate2 = num1 == num3 > num2
empate3 = num2 == num3 > num1

if num1M1 and num1M2:
  print(num1, 'é o maior.')
elif num2M1 and num2M2:
  print(num2, 'é o maior.')
elif num3M1 and num3M2:
  print(num3, 'é o maior.')
elif empate1:
  print(num1, 'e', num2, 'são os maiores números.')
elif empate2:
  print(num1, 'e', num3, 'são os maiores números.')
elif empate3:
  print(num2, 'e', num3, 'são os maiores números.')
else:
  print('tente novamente.')
print('Fim.')

Digite um número:2.54
Digite um número:2.55
Digite um número:2.56
2.56 é o maior.
Fim.

In [ ]:
# Repetições (Loops)

# As repetições são usadas para executarmos alguma ação por várias vezes seguidas.

# for

# O for é utilizado quando queremos executar uma ação em uma determinada quantidade de vezes.

# Estrutura for:

# passo = range(ini,fim)
# for i in passo:
#   print('Bloco de repetição')

# Temos que determinar um início e um fim para o for, que irá determinar a quantidade de vezes que a ação repetida será feita.

# Exemplo 1
# Imprima 'olá' 5 vezes seguidas.

# definindo passo:
passo = range(1,5)
# usando o for:
for i in passo:
  print('Olá')
# Irá imprimir somente quatro vezes o olá, pois nesse formato irá desconsiderar o último número.

Olá
Olá
Olá
Olá

In [ ]:
# Refazer programa, olá 5 vezes:
passo = range(1,5+1)
for i in passo:
  print('olá')

olá
olá
olá
olá
olá

In [ ]:
passo = range(1,5+1)
for i in passo:
  print('i = {} - olá.'.format(i))

  # Então para somar cinco vezes é comum somar 1 no ponto final.

i = 1 - olá.
i = 2 - olá.
i = 3 - olá.
i = 4 - olá.
i = 5 - olá.

In [ ]:
# Exemplo 2 
# Ler um livro de 20 páginas.

passo = range(1,20+1)
for i in passo:
  print('Leia a página: {}'.format(i))
print('Fim da leitura.')

Leia a página: 1
Leia a página: 2
Leia a página: 3
Leia a página: 4
Leia a página: 5
Leia a página: 6
Leia a página: 7
Leia a página: 8
Leia a página: 9
Leia a página: 10
Leia a página: 11
Leia a página: 12
Leia a página: 13
Leia a página: 14
Leia a página: 15
Leia a página: 16
Leia a página: 17
Leia a página: 18
Leia a página: 19
Leia a página: 20
Fim da leitura.

In [ ]:
# Exemplo 3
# Some 5 números digitados pelo usuário.

passo = range(1,5+1)

soma = 0
for i in passo:
  n = int(input('Digite um valor:'))
  soma = soma + n
print('A soma total é de: {}'.format(soma))

Digite um valor:5
Digite um valor:3
Digite um valor:5
Digite um valor:2
Digite um valor:2
A soma total é de: 17

In [ ]:
# Modificano o range:

# O range tradicional vai aumentando de um a um dentro do for.
# Porém podemos confugura-lo para a maneira que quisermos.

# Estrutura do passo.

# range(ini,fim,passo)

#.início: número inicial do range.
#.fim: número final do range.
#.passo: de quanto em quanto o valor será incrementado.

# Exemplo 1.

#range(0,10,2)

passo = range(0,10,2)
for i in passo:
  print(i)
print('Fim.')

0
2
4
6
8
Fim.

In [ ]:
# Exemplo2.
#range(10,1,-1)

passo = range(10,1,-1)
for i in passo:
  print(i)
print('Fim.')

10
9
8
7
6
5
4
3
2
Fim.

In [ ]:
passo = range(10,1-1,-1)
for i in passo:
  print(i)
print('Fim.')

10
9
8
7
6
5
4
3
2
1
Fim.

In [ ]:
passo = range(10,1-2,-1)
for i in passo:
  print(i)
print('Fim.')

10
9
8
7
6
5
4
3
2
1
0
Fim.

In [ ]:
# Exercício 1
# Some os números ímpares consecutivos começanco em um e terminando em 9.

passo = range(1,9+1,2)
soma = 0

for i in passo:
  soma = soma + i
print('A soma total é:{}'.format(soma))

A soma total é:25

In [ ]:
passo = range(1,9+1,2)
soma = 0

for i in passo:
  soma = soma + i
  print('i = {} e a soma é igual a: {}'.format(i,soma))
print('A soma total é:{}'.format(soma))

i = 1 e a soma é igual a: 1
i = 3 e a soma é igual a: 4
i = 5 e a soma é igual a: 9
i = 7 e a soma é igual a: 16
i = 9 e a soma é igual a: 25
A soma total é:25

In [ ]:
# Calculos incrementais

# Em python, assim como em outras linguagens de programação, existe uma maneira simplificada de fazer calculos incrementais.

# Estrutura dos calculos incrementais.

# soma = soma + 1 = soma += 1
# soma = soma + 5 = soma += 5
# soma = soma - 1 = soma -= 1
# soma = soma - 5 = soma -= 5
# soma = soma * 2 = soma *= 2

# Resumo
# anterior += incremento
# anterior -= incremento
# anterior *= incremento
# anterior /= incremento

# Exemplo 1
# começando pelo número 1, some 1 a ele por 10 vezes consecutivas.


passo = range(1,10+1)
soma = 1
for i in passo:
  soma += 1
  print(' o i é {} e a soma é {}'.format(i,soma))
print(soma)

 o i é 1 e a soma é 2
 o i é 2 e a soma é 3
 o i é 3 e a soma é 4
 o i é 4 e a soma é 5
 o i é 5 e a soma é 6
 o i é 6 e a soma é 7
 o i é 7 e a soma é 8
 o i é 8 e a soma é 9
 o i é 9 e a soma é 10
 o i é 10 e a soma é 11
11

In [ ]:
# Exercício 2
# Começando pelo número 2, multiplique por 2 a ele 9 vezes consecutivas.

mult = 1
passo = range(1,9+1)
for i in passo: 
  mult *= 2
  print('i = {}, mult = {}'.format(i,mult))

i = 1, mult = 2
i = 2, mult = 4
i = 3, mult = 8
i = 4, mult = 16
i = 5, mult = 32
i = 6, mult = 64
i = 7, mult = 128
i = 8, mult = 256
i = 9, mult = 512

In [ ]:
  # Exercício 1
# Tire a média de 3 números digitados pelo usuário.

passo = range(1,3+1)
soma = 0
for i in passo:
  n = float(input(' Digite o {}º número: '.format(i)))
  soma += n 
  print( ' i = {}, soma = {}'.format(i,soma))
media = soma/i
print(' A média é de :{}'.format(media))

 Digite o 1º número: 3
 i = 1, soma = 3.0
 Digite o 2º número: 3
 i = 2, soma = 6.0
 Digite o 3º número: 3
 i = 3, soma = 9.0
 A média é de :3.0

In [ ]:
# Exercício 2
# Pergunte ao usuário de quantos números ele quer tirar a média.
# Tire a média desses números.

qtd = int(input('De quantos números vc quer fazer uma média?'))
passo = range(1,qtd+1)
soma = 0

for i in passo:
  n = float(input(' Digite o {}º número: '.format(i)))
  soma += n 
  print( ' i = {}, soma = {}'.format(i,soma))
media = soma/i
print(' A média é de :{}'.format(media))

De quantos números vc quer fazer uma média?3
 Digite o 1º número: 3
 i = 1, soma = 3.0
 Digite o 2º número: 4
 i = 2, soma = 7.0
 Digite o 3º número: 5
 i = 3, soma = 12.0
 A média é de :4.0

In [ ]:
# While 

# Como já vimos, o for é uma estrutura de repetição que possui um começo e um fim bem determinados.
#Quando não sabemos onde termina um loop, precisamos usar outro método.

# O While será utilizado até a sua condição inicial não ser mais verdade.

# Estrutura:

# while true:
    #print('execute uma ação')

# Devido a essa estrutura, precisamos ter uma variável de controle e ela precisa ser modificada dentro do loop
#Isso para não ficarmos em um loop infinito.

#fim = False
#while fim == False 
  #print('execute uma ação')
  #fim = bool(input('Terminou))
#print('fim')

# Exemplo 1
# Quero ler o capitulo de um livro, mas não sei quantas páginas possui este capitulo.


fim = 'n'
while fim == 'n':
  print('leia a página.')
  fim = input('Terminou o capitulo, responda s ou n?')
print('Fim.')

leia a página.
Terminou o capitulo, responda s ou n?n
leia a página.
Terminou o capitulo, responda s ou n?n
leia a página.
Terminou o capitulo, responda s ou n?s
Fim.

In [ ]:
# Exemplo 2

# Começando pelo número 1, some 1 a ele por 10 vezes consecutivas.

soma = 1
i = 1

while i < 10:
  i += 1
  soma += 1
  print(soma)

2
3
4
5
6
7
8
9
10

In [ ]:
# Exercício 1
# Some números digitados pelo usuário até a soma ultrapassar 20.

soma = 0
while soma < 20:
  n = int(input('Digite um número:'))
  soma += n

print(soma)
print('Fim.')

Digite um número:5
Digite um número:5
Digite um número:5
Digite um número:6
21
Fim.

In [ ]:
# break

# O comando break é utilizado para sairmos de um loop em qualquer momento. Ele é utilizado quando:

# Já atingimos o objetivo.
# O usuário pediu para parar o loop.

# Já que ele sempre finaliza o looping no exato ponto que ele estava, ele geralmente é utilizado junto com o comando if
#Para testar se precisarmos ou não precisamos ou não parar o looping.

# Exemplo de looping infinito.

# Some os números que o usuário digitar.

soma = 0

while True:
  n = float(input('Digite um valor:'))
  soma += n
print(soma)

Digite um valor:5
Digite um valor:7

KeyboardInterrupt: ignored

In [ ]:
# Exemplo de loop infinito corrigido:
# Some os números que o usuário digitar até ele pedir para parar.

soma = 0

while True:
  n = float(input('Digite um valor:'))
  soma += n
  continua = input(' Você quer proceguir?(s/n)')
  if continua == 'n':
   break
  print('Depois do break.') # somente para mostrar que o loop é interrompido a qualquer tempo.

print(soma)

Digite um valor:6
 Você quer proceguir?(s/n)s
Depois do break.
Digite um valor:7
 Você quer proceguir?(s/n)s
Depois do break.
Digite um valor:8
 Você quer proceguir?(s/n)s
Depois do break.
Digite um valor:10
 Você quer proceguir?(s/n)s
Depois do break.
Digite um valor:-5
 Você quer proceguir?(s/n)s
Depois do break.
Digite um valor:12
 Você quer proceguir?(s/n)n
38.0

In [ ]:
# erro

In [ ]:
while True:
  num = input('Digite um número:')
  if num.isnumeric() == True:
    print('Você digitou um número válido.')
    break
  print('Você não digitou um número válido.')
print('Fim.')

Digite um número:g
Você não digitou um número válido.
Digite um número:h
Você não digitou um número válido.
Digite um número:5
Você digitou um número válido.
Fim.

In [ ]:
# Exemplo 2
# Faça um programa que calcula a média de valores digitados. Até o usuário pedir para parar.

  
soma = 0
i = 0

while True:
  i += 1
  num = float(input('Digite um número:'))
  soma += num
  continua = input('você quer continuar?(s/n)')
  if continua == 'n':
    break
media = soma/i
print('Você digitou {} números e a média é de {}'.format(i,media))
print('Fim.')

Digite um número:3
você quer continuar?(s/n)s
Digite um número:4
você quer continuar?(s/n)s
Digite um número:5
você quer continuar?(s/n)n
Você digitou 3 números e a média é de 4.0
Fim.

In [ ]:
passo = range(0, 50+1)
n = int(input("digite"))
mult = ()

for i in passo:
  mult = n * i
  print(n, 'x', i, '=',mult)
print('Fim.')

digite6
6 x 0 = 0
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
6 x 11 = 66
6 x 12 = 72
6 x 13 = 78
6 x 14 = 84
6 x 15 = 90
6 x 16 = 96
6 x 17 = 102
6 x 18 = 108
6 x 19 = 114
6 x 20 = 120
6 x 21 = 126
6 x 22 = 132
6 x 23 = 138
6 x 24 = 144
6 x 25 = 150
6 x 26 = 156
6 x 27 = 162
6 x 28 = 168
6 x 29 = 174
6 x 30 = 180
6 x 31 = 186
6 x 32 = 192
6 x 33 = 198
6 x 34 = 204
6 x 35 = 210
6 x 36 = 216
6 x 37 = 222
6 x 38 = 228
6 x 39 = 234
6 x 40 = 240
6 x 41 = 246
6 x 42 = 252
6 x 43 = 258
6 x 44 = 264
6 x 45 = 270
6 x 46 = 276
6 x 47 = 282
6 x 48 = 288
6 x 49 = 294
6 x 50 = 300
Fim.

In [ ]:
passo = range(1,10+1)
soma = 0
maior = 0
menor = 0
i = 1
for i in passo:
  n = float(input(' Digite o {}º número: '.format(i)))
  soma += n
media = soma/i
if i == 1:
  menor = n
else:
  if n > maior:
    maior = n 
  if n < menor:
    menor = n
  i += 1
print( ' i = {},soma = {}'.format(i,soma))
print(' O maior valor foi {} e o menor {}'.format(maior,menor))
print(' A média é de :{}'.format(media))

 Digite o 1º número: 30
 Digite o 2º número: 12
 Digite o 3º número: 14
 Digite o 4º número: 12
 Digite o 5º número: 27
 Digite o 6º número: 39
 Digite o 7º número: 21
 Digite o 8º número: 12
 Digite o 9º número: 13
 Digite o 10º número: 2
 i = 11,soma = 182.0
 O maior valor foi 2.0 e o menor 0
 A média é de :18.2

In [ ]:
lista = []

contador = 1
menor = 0.0
maior = 0.0 
media = 0.0

while contador <= 10:
  numeroDigitado = input('digite o' + str(contador)+ 'º número:')
  lista.append(float(numeroDigitado))
  num = float(numeroDigitado)
  if contador == 1:
    menor = num 
  if num < menor:
    menor = num
  if num > maior:
    maior = num
  contador += 1

soma = 0.0 
for valor in lista:
  soma += valor
media = soma/len(lista)

print('o menor número é: ', str(menor))
print('o maior número é: ', str(maior))
print('a média é: ', str(media))

digite o1º número:10
digite o2º número:30
digite o3º número:11
digite o4º número:22
digite o5º número:5
digite o6º número:5
digite o7º número:8
digite o8º número:12
digite o9º número:10
digite o10º número:2
o menor número é:  2.0
o maior número é:  30.0
a média é:  11.5

In [ ]:


n = int(input('Digite um número:'))

t1 = 0
t2 = 1 
print('{},{}'.format(t1,t2), end = '')
cont = 3
while cont <= n:
  t3 = t1 + t2
  print(',{}'.format(t3), end = '')
  t1 = t2
  t2 = t3
  cont += 1
print(',Fim.')

Digite um número:12
0,1,1,2,3,5,8,13,21,34,55,89,Fim.

In [ ]:
# Tuplas

# São variáveis compostas imutáveis.

# Estrutura da Tupla:

# As variáveis comuns conseguem armazenar apenas um valor de cada vez.
# Já as tuplas conseguem armazenar diversos valores dentro de uma só variável.
# Elas são úteis para o programador não precisar declarar infinitas variáveis.
# Para declarar uma tupla, basta colocar todos os valores entre parênteses e separados por vírgula.

# tupla = ('Var1, 'Var2', 'Var3')

# Exemplo 1

# Defina uma tupla com 3 strings e use o print para ver como ela se apresenta.

# Definindo uma tupla:

t1 = ('Lanche', 'Batata', 'Refri')

# Imprimindo a tupla:

print(t1)

('Lanche', 'Batata', 'Refri')

In [ ]:
# Exemplo 2

# Agora defina outra tupla com valores numéricos.

# Declarando tupla:
t2= (1, 3, 5, 7)

# Iprimindo tupla:
print(t2)

(1, 3, 5, 7)

In [ ]:
# Exemplo 3
# Agora defina outra tupla com diversos tipos de dados inclusos.

# Defina a tupla:
t3=('Lanche', 10.9, 3, True)
#Imprimindo a tupla:
print(t3)

('Lanche', 10.9, 3, True)

In [ ]:
# Acessando valores

# Para acessar os valores das tuplas, basta colocar o índice da tupla desejado entre colchetes.
# Cada valor dentro da tupla fica salvo como um índice que começa em 0 e vai aumentando de 1 em 1 até o último termo da tupla.

# Então para a tupla abaixo:

#     [0] [1] [2] [3]
# t2 =(1,  3,  5,  7)

# Os termos dela são:

#t2[0] == 1
#t2[1] == 3
#t2[2] == 5
#t2[3] == 7

# exemplo 1 
# Para a tupla acima. Tente imprimir cada um de seus valores.

# Imprimindo
print(t2[0])
print(t2[1])
print(t2[2])
print(t2[3])

1
3
5
7

In [ ]:
# calculo com elementos de uma tupla

print(t2[0] + t2[1])

4

In [ ]:
# Exemplo 2
# Imprima a soma de cada valor dessa tupla.

# Somando:

soma = t2[0] + t2[1] + t2[2] + t2[3]

# Impriindo:
print(soma)

16

In [ ]:
# Acessando múltiplos valores:
# Também é possível acessar mais de um valor ao mesmo tempo, colocando nos colchetes de onde até onde você quer acessar.

t2[0:2] # são os dois primeiros valores dessa tupla.

(1, 3)

In [ ]:
t2[2:4] # são o terceiro e o quarto valores dessa tupla.

(5, 7)

In [ ]:
t2[:3] # são os 3 primeiros valores dessa tupla.

(1, 3, 5)

In [ ]:
t2[2:] # é o terceiro e o último valor dessa tupla.

(5, 7)

In [ ]:
t2[-1] # é o último valor dessa tupla.

# Lembre-se que como no range, o último valor dentro do colchete não é acessado.

7

In [ ]:
# Exemplo 3 
# Vamos testar os ítens acima.

# Imprimindo valores.

print(t2[0:2]) # são os dois primeiros valores dessa tupla.
print(t2[2:4]) # são o terceiro e o quarto valores dessa tupla.
print(t2[:3]) # são os 3 primeiros valores dessa tupla.
print(t2[2:]) # é o terceiro e o último valor dessa tupla.
print(t2[-1]) # é o último valor dessa tupla.

(1, 3)
(5, 7)
(1, 3, 5)
(5, 7)
7

In [ ]:
# Tipo de tuplas e suas propriedades.
# As tuplas são imutáveis, ou seja, a partir do momento que ela é declarada, ela não pode mais mudar de valores.

# Exemplo 
# Defina uma tupla:
# t2= (1,3,5,7)
# E depois tente mudar o seu terceiro valor para 8.

# Definindo tupla

#Modificando seu valor.
t2[2] = 8
print(t2[2])

TypeError: ignored

In [ ]:
# ERRO: a tupla não suporta receber nenhuma outra informação.
# Repare no erro. Realmente não é possível mudar o seu valor.
# Então para que iremos usá-la? 

# Como ela é dfinida no início do programa e não pode ser modificada, a tupla é muito usada como variável de segurança.
# Para evitar modificações acidentais durante a execução de programas complexos.

# Tipo de tuplas e de seus valores

# A tupla possui o próprio tipo: tuple. Porém os valores de cada um de seus termos permanecem com o tipo original.
# Se pegarmos diversos valores dentro da tupla, ele será listdo como tupla ainda.

# Exemplo 2
# Verifique o tipo das variáveis.

# t3
# t3[0]
# t3[1]
# t3[2]
# t3[0:2]
# t3[1:]

In [ ]:
# Imprimindo as variáveis e seus tipos.
print(t3)
print(type(t3))
print(t3[0])
print(type(t3[0]))
print(t3[1])
print(type(t3[1]))
print(t3[2])
print(type(t3[2]))
print(t3[-1])
print(type(t3[-1]))
print(t3[0:2])
print(type(t3[0:2]))
print(t3[1:])
print(type(t3[1:]))

('Lanche', 10.9, 3, True)
<class 'tuple'>
Lanche
<class 'str'>
10.9
<class 'float'>
3
<class 'int'>
True
<class 'bool'>
('Lanche', 10.9)
<class 'tuple'>
(10.9, 3, True)
<class 'tuple'>

In [ ]:
# Funções com tuplas 
#len(t1): quantidade de termos
#sorted(t1): ordenar
#t1.count(valor): contar a quantidade de valor.
#t1.index(valor): achar a primeira posição da variável valor.
#t1.index(valor,pos): achar valor a partir da posição.
# t1 + t2: concatenar tuplas.

# Exemplo 3

# Utilizando as tuplas abaixo

#t1 = ('Lanche', 'Batata', 'Refri')
#t2 = (0, 6, 4, 2, 8, 6, 4)
#t3 = (1, 3, 3, 5, 3, 5, 7)

# Faça 

# Calcule o tamanho das tuplas t1 e t2
# Imprima as tuplas ordenadas t1 e t2, e depois reemprima- as.
# Conte quantas vezes aparece o valor 3 na t3.
# Procure onde aparece o valor 'Refri' na t1.
# Procure valor 5 na t3 após o quarto termo.
# Concatene as tuplas t2 e t3.

# Declarando as tuplas.

t1 = ('Lanche', 'Batata', 'Refri')
t2 = (0, 6, 4, 2, 8, 6, 4)
t3 = (1, 3, 3, 5, 3, 5, 7)

# Tamanho da tupla t1 e t2
t1 + t2
print(len(t1 + t2))
print(len(t1))
print(len(t2))

10
3
7

In [ ]:
# Imprimir de maneira ordenada t1 e t2
print(sorted(t1))
print(sorted(t2))
print(t1)
print(t2)
type(sorted(t2))

['Batata', 'Lanche', 'Refri']
[0, 2, 4, 4, 6, 6, 8]
('Lanche', 'Batata', 'Refri')
(0, 6, 4, 2, 8, 6, 4)

list

In [ ]:
# Conte quantas vezes aparece o valor 3 na tupla t3.
print(t3.count(3))
print(t3)

3
(1, 3, 3, 5, 3, 5, 7)

In [ ]:
# Procure onde aparece o valor 'Refri' em t1.
print(t1.index('Refri'))
print(t1)

2
('Lanche', 'Batata', 'Refri')

In [ ]:
print(t1)
pos = t1.index('Refri')
print(pos)

('Lanche', 'Batata', 'Refri')
2

In [ ]:
# Procure o valor 5 na minha tupla t3 após o quarto termo.
print(t3.index(5,4))
print(t3)

5
(1, 3, 3, 5, 3, 5, 7)

In [ ]:
print(t3)
pos = (t3.index(5,4))
print(pos)

(1, 3, 3, 5, 3, 5, 7)
5

In [ ]:
# Concatenar t2 e t3

print( t2 + t3)


#Concatene as tuplas t3 e t2

print( t3 + t2)

(0, 6, 4, 2, 8, 6, 4, 1, 3, 3, 5, 3, 5, 7)
(1, 3, 3, 5, 3, 5, 7, 0, 6, 4, 2, 8, 6, 4)

In [ ]:
# Olhando este último exemplo, aparece a dúvida: e se eu quisesse somar os termos das tuplas? E multiplicar?
# Para isso teremos que juntar com o conceito das aulas de repetições.

# Tuplas dentro de For
# As tuplas possuem vários valores, assim com o range. Portanto podemos rodar um looping de for com os valores diretos de uma lista.

# Estrutura
# A partir do momento que a tupla está definida, podemos rodar o for utilizando:

# for i in tupla:

# Quando utilizamos esse comando, em cada passo do loop, a variável de controle i vai valer cada iten da tupla, até percorremos toda a tupla.

# Exemplo 1 
# Dado a tupla
# t1 = ('Lanche', 'Refri', 'Batata)

t1 = ('Lanche', 'Refri', 'Batata')

for i in t1:
  print('Temos no nosso cardápio: {}'.format(i))

print('Fim do cardápio.')

Temos no nosso cardápio: Lanche
Temos no nosso cardápio: Refri
Temos no nosso cardápio: Batata
Fim do cardápio.

In [ ]:
# Exemplo 2

# Dado a tupla t2, some todos os seus valores.
print(t2)
soma = 0

for i in t2:
  soma += i
  print('i = {} e a soma é {}'.format(i, soma))


print(soma)

(0, 6, 4, 2, 8, 6, 4)
i = 0 e a soma é 0
i = 6 e a soma é 6
i = 4 e a soma é 10
i = 2 e a soma é 12
i = 8 e a soma é 20
i = 6 e a soma é 26
i = 4 e a soma é 30
30

In [ ]:
# Observe que nos exemplos acima, nós nem precisamos saber qual era o tamanho da tupla para o programa rodar.
# Mas e se precisarmos saber qual é o índice de cada valor dentro do loop? Para isso usaremos o Enumerate()

# Enumerate()

# Quando usamos essa função dentro da declaração de um for, ela vai mostrar tanto o valor da variável de controle quanto também o índice dela.
#Só precisamos fazer um pequeno ajuste na síntaxe:

# for índice, valor in enumerate(t1):

# Exemplo 1 

# Plote os ítens da tupla t1, mostrando seus índices como se fosse um cardápio.

print(t1)

for indice, valor in enumerate(t1):
  print('para índice = {} nós temos o valor = {}'.format(indice,valor))

('Lanche', 'Refri', 'Batata')
para índice = 0 nós temos o valor = Lanche
para índice = 1 nós temos o valor = Refri
para índice = 2 nós temos o valor = Batata

In [ ]:
# Exercícios 1

# Dado a tupla abaixo:

# t1 = ('Doce', 'Churrasco', 'Bala', 'Tapioca', 'Pizza', 'Feijão', 'Arroz', 'Açai', 'Paçoca', 'Acarajé', 'Pamonha', 'Dobradinha', 'Rapadura')

# Faça um programa que:
# O usuário digita uma comida  e esse programa diz em qual posição do cardápio este item esta.
# Printe os ítens em ordem alfabeta para o usuário. 

t1 = ('Doce', 'Churrasco', 'Bala', 'Tapioca', 'Pizza', 'Feijão', 'Arroz', 'Açai', 'Paçoca', 'Acarajé', 'Pamonha', 'Dobradinha', 'Rapadura')
print(t1)
comida = input(str('Digite o que você quer comer:'))
index = t1.index(comida)
print(' Você digitou {} que esta na posição {} do cardápio'.format(comida, index))
print(sorted(t1))

('Doce', 'Churrasco', 'Bala', 'Tapioca', 'Pizza', 'Feijão', 'Arroz', 'Açai', 'Paçoca', 'Acarajé', 'Pamonha', 'Dobradinha', 'Rapadura')
Digite o que você quer comer:Churrasco
 Você digitou Churrasco que esta na posição 1 do cardápio
['Acarajé', 'Arroz', 'Açai', 'Bala', 'Churrasco', 'Dobradinha', 'Doce', 'Feijão', 'Pamonha', 'Paçoca', 'Pizza', 'Rapadura', 'Tapioca']

In [ ]:
# Exercício 2

# Dada a tupla abaixo

# t1 = ('Doce', 2.3, 'Bala', 0.15, 'Pizza', 28.9, 'Arroz', 4.5, 'Paçoca', 0.5, 'Pamonha', 5.4)

# Os dados estão organizados de forma que tem o valor do produto e logo após o seu preço. Faça um programa que:

# Mostre o cardápio de forma organizada.

t1 = ('Doce', 2.3, 'Bala', 0.15, 'Pizza', 28.9, 'Arroz', 4.5, 'Paçoca', 0.5, 'Pamonha', 5.4)

print('-'*66)
print()
print('-'*28,'Cardápio','-'*28)
print()
print('-'*66)
print(t1[0],'.'*51,':R$',t1[1])
print(t1[2],'.'*51, ':R$',t1[3])
print(t1[4],'.'*50,':R$',t1[5])
print(t1[6],'.'*50,':R$',t1[7])
print(t1[8],'.'*49,':R$',t1[9])
print(t1[10],'.'*48,':R$',t1[11])
print('-'*66)

------------------------------------------------------------------

---------------------------- Cardápio ----------------------------

------------------------------------------------------------------
Doce ................................................... :R$ 2.3
Bala ................................................... :R$ 0.15
Pizza .................................................. :R$ 28.9
Arroz .................................................. :R$ 4.5
Paçoca ................................................. :R$ 0.5
Pamonha ................................................ :R$ 5.4
------------------------------------------------------------------

In [ ]:
# Exercício 3
# Dada a mesma tupla do exercício anterior faça um programa que:
# O usuário vizualiza o cardápio e escolhe qual item ele quer comprar. A seguir pergunta se ele quer algo mais.
#Caso ele queira, vai somando todos os pedidos em uma variável soma.
# No final printe para o usuário o valor total da conta.

t1 = ('Doce', 2.3, 'Bala', 0.15, 'Pizza', 28.9, 'Arroz', 4.5, 'Paçoca', 0.5, 'Pamonha', 5.4)

print('-'*66)
print()
print('-'*28,'Cardápio','-'*28)
print()
print('-'*66)
print(t1[0],'.'*51,':R$',t1[1])
print(t1[2],'.'*51, ':R$',t1[3])
print(t1[4],'.'*50,':R$',t1[5])
print(t1[6],'.'*50,':R$',t1[7])
print(t1[8],'.'*49,':R$',t1[9])
print(t1[10],'.'*48,':R$',t1[11])
print('-'*66)

soma = 0


for produto in t1: 
  produto = input('O que você escolhe?')
  continua = input(' Deseja mais alguma coisa (S/N)')
  posicao = t1.index(produto)
  posicao = posicao + 1
  soma += t1[posicao]
  if continua == 'S':
    print(soma)
    print('O Valor total de sua conta foi: {:.2f}'.format(soma))

  elif continua == 'N':
   print('Você finalizou seu pedido.')
   print('O valor total de sua compra foi: R$ {:.2f}'.format(soma))
   break


print('Fim.')

------------------------------------------------------------------

---------------------------- Cardápio ----------------------------

------------------------------------------------------------------
Doce ................................................... :R$ 2.3
Bala ................................................... :R$ 0.15
Pizza .................................................. :R$ 28.9
Arroz .................................................. :R$ 4.5
Paçoca ................................................. :R$ 0.5
Pamonha ................................................ :R$ 5.4
------------------------------------------------------------------
O que você escolhe?Doce
 Deseja mais alguma coisa (S/N)S
2.3
O Valor total de sua conta foi: 2.30
O que você escolhe?Bala
 Deseja mais alguma coisa (S/N)S
2.4499999999999997
O Valor total de sua conta foi: 2.45
O que você escolhe?Paçoca
 Deseja mais alguma coisa (S/N)N
Você finalizou seu pedido.
O valor total de sua compra foi: R$ 2.95
Fim.

In [ ]:
# Listas 
# São variáveis compostas mutáveis.

# São declaradas entre colchetes []

# Lista = ['Var1', 'Var2', 'Var3']

# Assim como as tuplas, elas também aceitam qualquer tipoo de dado.

# Similiaridades entre listas e tuplas:
# Usam as mesmas funções.

#Fatiamento: [0], [0:2], [:3], [3:], [-1]
# Métodos: .index(), .count()
# Funções: len(), sorted()
# Concatenar: lista3 = lista1 + lista2
# Lista dentro do for: for i in lista e for i, v in enumerate(lista):


# Funções e métodos para listas

#lista[posição] = novoValor
#lista[intervalo] = novaLista

# Exemplo 1

# Dada a lista abaixo
# l1 = [2, 6, 4, 5, 7]

# Troque o terceiro termo por 3
# Troque os dois primeiros termos por 0 e 1 respectivamente

# Dclarando lista
l1 = [2, 6, 4, 5, 7]
print(l1)

# Troque o terceiro termo por 3
l1[2] = 3
print(l1)

# Troque os dois primeiros termos por 0 e 1 respectivamente
l1[0:2] = [0,1]
print(l1)

[2, 6, 4, 5, 7]
[2, 6, 3, 5, 7]
[0, 1, 3, 5, 7]

In [ ]:
# Adicionando termos

# lista.append(valor)
# lista.insert(posição, valor)

# Exemplo 2 
# Dada a lista abaixo
# l1 = [0, 1, 3, 5, 7]

# Insira 7 para o último valor
# Insira 4 na quarta posição

# Declarando lista
l1 = [0, 1, 3, 5, 7]
print(l1)
#Inserindo valores
# Insira 7 para o último valor

l1.append(7)
print(l1)

# Insira 4 na quarta posição
l1.insert(3,4)
print(l1)

# Repare que usando o insert() o método insere na posição desejada e desloca todos os outros valores na lista da direita

[0, 1, 3, 5, 7]
[0, 1, 3, 5, 7, 7]
[0, 1, 3, 4, 5, 7, 7]

In [ ]:
# Deletando termos

# del lista[posição]
# var = lista.pop(pos)
# lista.remove(valor)

# Exemplo 3
# Dada a lista abaixo
# l1 = [0, 1, 3, 4, 5, 7, 7]

#Declarando lista
l1 = [0, 1, 3, 4, 5, 7, 7]
print(l1)

# Deletando valores 
# Delete o quarto ítem usando o del

del l1[3]
print(l1)

# delete o terceiro ítem usando o .pop e salve na variável deletado

deletado = l1.pop(2)
print(l1, '-', deletado)

#Delete o primeiro valor 7 que aparecer na lista
l1.remove(7)
print(l1)

[0, 1, 3, 4, 5, 7, 7]
[0, 1, 3, 5, 7, 7]
[0, 1, 5, 7, 7] - 3
[0, 1, 5, 7]

In [ ]:
# if com lista

# Também podemos usar o if de uma forma simplificada na lista para verificarmos se algum valor existe dentro da lista.

# if valor in lista:
      #lista.remove(valor)

# Como o exemplo acima mostra, ela é muito comum de ser usada para verificar se algum valor está dentro da lista antes de deletá-lo.

# Exercício 1

# Dada a lista abaixo
# l2 = [3, 2, 5, 0, 0, 8, 3, 8, 8, 4, 0, 9, 7, 8, 9, 3, 6, 0, 1]

#1. Conte a quantidade de termos que a lista possui e imprima
#2. Delete todos os 0 da lista e imprima-a
#3. Conte a quantidade de termos da lista

# Declarando a lista
l2 = [3, 2, 5, 0, 0, 8, 3, 8, 8, 4, 0, 9, 7, 8, 9, 3, 6, 0, 1]
print(l2)
#Contando a lista
qtdOriginal = len(l2)
print(qtdOriginal)

#Deletando os valores
# Delete todos os 0 da lista e imprima-a

for i in l2:
  if 0 in l2:
    l2.remove(0)
print(l2)

# Contando a lista final
qtdFinal = len(l2)
print(qtdFinal)

[3, 2, 5, 0, 0, 8, 3, 8, 8, 4, 0, 9, 7, 8, 9, 3, 6, 0, 1]
19
[3, 2, 5, 8, 3, 8, 8, 4, 9, 7, 8, 9, 3, 6, 1]
15

In [ ]:
# Ordenando lista
# Existem 2 maneiras de ordenar. Uma delas é uma função e a outra é um método.

#sorted(lista)
#lista.sort()
#lista.sort(reverse = True)

# Exemplo 4
# Dada a lista abaixo
#l1 = [0, 3, 1, 7, 5, 7, 4]

# Ordene a lista usando o sorted e salve na variável sort1.
# Ordene a lista com o .sorted e salve na variável sort2.
# Compare os resultados
# Faça a ordenação inversa

# Declarando lista
l1 = [0, 3, 1, 7, 5, 7, 4]
print(l1)

# Ordenando a lista
# Ordene a lista usando o sorted e salve na variável sort1.
sorted(l1)
sort1 = sorted(l1)
print(sort1)

# Ordene a lista com o .sorted e salve na variável sort2.

sort2 = l1.sort()
print(sort2)
print(l1)

# Ordenação inversa
l1.sort(reverse = True)
print(l1)

[0, 3, 1, 7, 5, 7, 4]
[0, 1, 3, 4, 5, 7, 7]
None
[0, 1, 3, 4, 5, 7, 7]
[7, 7, 5, 4, 3, 1, 0]

In [ ]:
# Declarando listas 

# É muito comum declararmos listas em branco para que o usuário possa inserir os valores e/ou possamos puxar os valores de algum banco de dados.

# Declarando listas em branco

#lista = []
#lista = list()

# Após a declaração é possível ir adicionando os valores com o .append() que já vimos anteriormente

#Exemplo 5

# Crie uma lista vazia e peça para o usuário inserir 5 números dentro dela.

# Declarando a lista

lista1 = []
print(lista1)

for i in range(1,6):
  lista1.append(float(input('Digite o {}º número:'.format(i))))

print(lista1)

[]
Digite o 1º número:1
Digite o 2º número:3
Digite o 3º número:5
Digite o 4º número:7
Digite o 5º número:9
[1.0, 3.0, 5.0, 7.0, 9.0]

In [ ]:
# Declarando listas com o Range

# lista = list(range(inicio,fim,passo))

# Para cálculo e análises matemáticas, é muito comum precisarmos criar uma lista de números com um passo conhecido como análise e até gráficos.
#Gerar esses números com o comando acima se torna bem siples.

# Exemplo 6

# Crie uma lista de 0 a 10 com passo de 0.1

# Criando a lista
eixox = list(range(0,100,1))
print(eixox)


for i in eixox:
 # eixox[i] = eixox[i] / 10
 eixox[i] /= 10

print(eixox)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[0.0, 0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0, 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2.0, 2.1, 2.2, 2.3, 2.4, 2.5, 2.6, 2.7, 2.8, 2.9, 3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6, 3.7, 3.8, 3.9, 4.0, 4.1, 4.2, 4.3, 4.4, 4.5, 4.6, 4.7, 4.8, 4.9, 5.0, 5.1, 5.2, 5.3, 5.4, 5.5, 5.6, 5.7, 5.8, 5.9, 6.0, 6.1, 6.2, 6.3, 6.4, 6.5, 6.6, 6.7, 6.8, 6.9, 7.0, 7.1, 7.2, 7.3, 7.4, 7.5, 7.6, 7.7, 7.8, 7.9, 8.0, 8.1, 8.2, 8.3, 8.4, 8.5, 8.6, 8.7, 8.8, 8.9, 9.0, 9.1, 9.2, 9.3, 9.4, 9.5, 9.6, 9.7, 9.8, 9.9]

In [ ]:
# Copiando e clonando listas

# Quando declaramos uma nova variável e igualamos a uma lista, ela na verdade vira um clone da lista original. 
#Qualquer modificação em uma das duas irá impactar as duas.

# Exemplo 7 

# Crie uma lista

# l1 = [0, 2, 6, 4, 8, 1, 3]

# Em seguida faça 

# l2 = l1

# Delete o último termo da lista l2 e imprima o resultado 

# Declarando lista
l1 = [0, 2, 6, 4, 8, 1, 3]
l2 = l1

# Deletando último valor e plotando resultados
l2.pop()

print('l1 é igual {}'.format(l1))
print('l2 é igual {}'.format(l1))

l1 é igual [0, 2, 6, 4, 8, 1]
l2 é igual [0, 2, 6, 4, 8, 1]

In [ ]:
# Observe o que fazer

# l2 = l1

# Acabamos clonando as listas. 
# Elas estão ocupando o mesmo espaço na memória do computador, portanto qualquer modificação feita em uma também será feita na outra.
# Cuidaddo na hora de clonar listas.

# Se quisermos criar uma cópia da lista, para que essa segunda possa ser modificada a vontade, devemos utilizar a seguinte sintaxe.

# l2 = l1[:]

# Exemplo 8 
# Execute o exemplo anterior, só que agora copiando a lista ao invés de clonar.

# Declarando lista
l1 = [0, 2, 6, 4, 8, 1, 3]
l2 = l1[:]

# Deletando último valor e plotando resultado
l2.pop()

print('l1 é igual {}'.format(l1))
print('l2 é igual {}'.format(l2))

l1 é igual [0, 2, 6, 4, 8, 1, 3]
l2 é igual [0, 2, 6, 4, 8, 1]

In [ ]:
# Lista dentro de for

# A utilização de listas dentro de loopings é bem similar às tuplas. 
#A diferença é que agora podemos modificar as listas e utilizar os loopings para adicionarmos novos valores à lista.

# Exemplo 9 

# Dadas as listas abaixo

# l1 = [0, 2, 6, 4, 8, 1, 3]
# l2 = [3, 2, 1, 7, 8, 2, 5]
# Crie uma nova lista que será a soma de termo de l1 com a l2

# Declarando as listas 
l1 = [0, 2, 6, 4, 8, 1, 3]
l2 = [3, 2, 1, 7, 8, 2, 5]
l3 = list()

for i, val in enumerate(l1):
  print('l1 [{}] = {} e l2 [{}] = {}'.format(i,l1[i],i,l2[i]))
  l3.append(l1[i] + l2[i])


print(l3)

l1 [0] = 0 e l2 [0] = 3
l1 [1] = 2 e l2 [1] = 2
l1 [2] = 6 e l2 [2] = 1
l1 [3] = 4 e l2 [3] = 7
l1 [4] = 8 e l2 [4] = 8
l1 [5] = 1 e l2 [5] = 2
l1 [6] = 3 e l2 [6] = 5
[3, 4, 7, 11, 16, 3, 8]

In [ ]:
# Exemplo 10

# Dadas as listas abaixo
#l1 = [0, 2, 6, 4, 8, 1, 3]
#l2 = [3, 2, 1, 7, 8]

# Execute o mesmo código do exemplo anterior.

# Declarando lista
l1 = [0, 2, 6, 4, 8, 1, 3]
l2 = [3, 2, 1, 7, 8]
l3 = list()

for i, val in enumerate(l1):
  print('l1 [{}] = {} e l2 [{}] = {}'.format(i,l1[i],i,l2[1]))
  l3.append(l1[i]+l2[i])

print(l3)

# Observe que o erro acontece porque tentamos acessar l2[5] que na verdade não existe.
# Para contornarmos esse erro podemos primeiro descobrir qual é a menor lista para depois colocarmos ela dentro do enumerate().
# Mas tem um método bem mais fácil, que é usar a função zip.

#for val1, val2 in zip(l1, l2):

# Essa função fará que o passo do for ande sempre junto para as duas listas(ou tuplas).
# Assim as variáveis val1 e val2 vão ter sempre o valor das respectivas posições do passo do for.

l1 [0] = 0 e l2 [0] = 2
l1 [1] = 2 e l2 [1] = 2
l1 [2] = 6 e l2 [2] = 2
l1 [3] = 4 e l2 [3] = 2
l1 [4] = 8 e l2 [4] = 2
l1 [5] = 1 e l2 [5] = 2

IndexError: ignored

In [ ]:
#Exemplo 11
# Adapte o código anterior usando zip.

# Declarando as listas 

l1 = [0, 2, 6, 4, 8, 1, 3]
l2 = [3, 2, 1, 7, 8]
l3 = list()

for v1, v2 in zip(l1,l2):
  print('v1 = {} e v2 = {}'.format(v1,v2))
  l3.append(v1 + v2)

print(l3)

#Observe que nesse caso que as listas não possuem o mesmo tamanho, o for irá rodar uma quantidade de passos equivalentes a quantidade de posições da menor lista.

v1 = 0 e v2 = 3
v1 = 2 e v2 = 2
v1 = 6 e v2 = 1
v1 = 4 e v2 = 7
v1 = 8 e v2 = 8
[3, 4, 7, 11, 16]

In [ ]:
# Exercício 1
# dadas a lista e a tupla abaixo
#preco = (10.9, 5.40, 8.30, 3.40)
#qtdComprada = [0, 3, 2, 4]

# Calcule e mostre para o usuário o valor total da compra. 
#Sendo que o valor total será a soma da multiplicação do preço do produto pela quantidade comprada.

preco  = (10.9, 5.40, 8.30, 3.40)
qtdComprada = [0, 3, 2, 4]
mult = ()
qtdComprada1 = []
multProd = []
soma = 0

for i in qtdComprada:
  mult = 100 *i
  mult /=  100 
  print('o valor inicial era {} e agora é {}'.format(i,mult))
  qtdComprada1.append(mult)
  print(qtdComprada1)

for i, val in enumerate(preco):
  multProd.append(preco[i] * qtdComprada1[i])
  print(multProd)
  soma += multProd[i] 
  print(soma)

print('O valor total da compra foi: R$ {:.2f}'.format(soma))

o valor inicial era 0 e agora é 0.0
[0.0]
o valor inicial era 3 e agora é 3.0
[0.0, 3.0]
o valor inicial era 2 e agora é 2.0
[0.0, 3.0, 2.0]
o valor inicial era 4 e agora é 4.0
[0.0, 3.0, 2.0, 4.0]
[0.0]
0.0
[0.0, 16.200000000000003]
16.200000000000003
[0.0, 16.200000000000003, 16.6]
32.800000000000004
[0.0, 16.200000000000003, 16.6, 13.6]
46.400000000000006
O valor total da compra foi: R$ 46.40

In [ ]:

# Exercício 2

# Considerando o exercício anterior, e considerando que as posições de listas acima são os preços respectivos de:
# Lanche
# Refri
# Batata 
# Bombom

# Peça para o usuário informar a quantidade de cada produto para depois mostrar o valor total de sua conta.


Lanche = 'Lanches'
Refri = 'Refrigerantes'
Batata = 'Batatas'
Bombom = 'Bombons'

valorProduto = ()
preco = (10.9, 5.40, 8.30, 3.40)
produtos = (Lanche, Refri, Batata, Bombom)
qtd = []
soma = 0

for i in range(0,4):
 qtd.append(float(input('Diga a quantidade de {}  que você deseja:'.format(produtos[i]))))
 valorProdutos = preco[i] * qtd[i]
 soma += valorProdutos
 print(soma)
print('O valor total de sua compra é: R$: {:.2f}'.format(soma))

Diga a quantidade de Lanches  que você deseja:1
10.9
Diga a quantidade de Refrigerantes  que você deseja:1
16.3
Diga a quantidade de Batatas  que você deseja:1
24.6
Diga a quantidade de Bombons  que você deseja:1
28.0
O valor total de sua compra é: R$: 28.00

In [ ]:
# Faça um programa que peça para o usuário insirir um produto e salvar esse produto na lista.

# Caso o produto esteja na lista, informe uma mensagem de erro e não cadastre o produto duplicado.

produtos = []
valor = []
continua = 'S'
while continua == 'S':
  produtos = input('Digito um produto:')
  if produtos not in valor:
    produtos = valor.append(produtos)
    continua = input('Você deseja continuar?(S/N')
  elif continua == 'N':
    break
  else:
    print('O ítem já existe na lista. adicione outro.')
print(valor)
print('Fim.')

Digito um produto:Arroz
Você deseja continuar?(S/NS
Digito um produto:Feijão
Você deseja continuar?(S/NS
Digito um produto:Carne
Você deseja continuar?(S/NS
Digito um produto:Carne
O ítem já existe na lista. adicione outro.
Digito um produto:Manjericão
Você deseja continuar?(S/NN
['Arroz', 'Feijão', 'Carne', 'Manjericão']
Fim.

In [ ]:
# Listas dentro de listas

# As listas aceitam qualquer tipo de dados, até outras listas.

# Declarando uma lista composta.

# Para declarar uma lista composta é só colocar uma lista dentro de outra.

# Entendendo como as listas compostas funcionam.

# Imagine que tenhamos um cardápio. O cardápio seria uma lista com todos os produtos
# Cada produto será um tipo de comida com seus lanches e preços.

# comida1 = ['Lanche',10.9]
# comida2 = ['Batata', 5.5]
# comida3 = ['Refri' , 3.9]
#cardapio = [comida1, comida2, comida3]

# Então se acessando os termos temos:
# cardapio[0] == comida1 == ['Lanche',10.9]
# cardapio[2]== comida3 == ['Refri', 3.9]
# cardapio[2][0] == comida3[0] == 'Refri'

# Vamos pegar uma lista dentro de outra lista já declarada e vamos entender como funciona acessar seus termos.

# Exemplo 1

# Dada a lista abaixo:
# cardapio = [['lanche', 10.9], ['Batata', 5.5], ['Refri', 3.9]]

# Acesse os valores
# 1. cardapio[0], cardapio[1], cardapio[2]
# 2. cardapio[0][0], cardapio[0][1], cardapio[1][0], cardapio[1][1]

# Declarando lista:
cardapio = [['lanche', 10.9], ['Batata', 5.5], ['Refri', 3.9]]
print(cardapio)

# Imprimindo valores 
print(cardapio[0])
print(cardapio[1])
print(cardapio[2])
print(cardapio[0][0])
print(cardapio[0][1])
print(cardapio[1][0])
print(cardapio[1][1])

[['lanche', 10.9], ['Batata', 5.5], ['Refri', 3.9]]
['lanche', 10.9]
['Batata', 5.5]
['Refri', 3.9]
lanche
10.9
Batata
5.5

In [ ]:
# Imprimindo valores
print(f'cardapio[0] = {cardapio[0]}')
print(f'cardapio[1] = {cardapio[1]}')
print(f'cardapio[2] = {cardapio[2]}')

print(f'cardapio[0][0] = {cardapio[0][0]}')
print(f'cardapio[0][1] = {cardapio[0][1]}')
print(f'cardapio[1][0] = {cardapio[1][0]}')
print(f'cardapio[1][1] = {cardapio[1][1]}')

# Repare que sempre que estamos acessando valores dentro da lista, o primeiro [] vai acessar as posições mais externas da lista.
# O segundo [] vai acessar as posições da lista referente à lista do primeiro [] e assim em diante.

# Agora que já entendemos como acessar seus valores, vamos ver como declarar uma lista composta.

cardapio[0] = ['lanche', 10.9]
cardapio[1] = ['Batata', 5.5]
cardapio[2] = ['Refri', 3.9]
cardapio[0][0] = lanche
cardapio[0][1] = 10.9
cardapio[1][0] = Batata
cardapio[1][1] = 5.5

In [ ]:
# Declarando por partes

# Nesse caso, declara-se cada item de dentro da lista principal e depois coloca-se seus valores dentro da lista principal.
# Para quem esta começando é a forma mais simples de entender.

# Lanche = ['Lanche', 10.9]
# Batata = ['Batata', 5.5]
# Refri = ['Refri', 3.9]
# cardapio = [Lanche, Batata, Refri]

# No exemplo acima foram criadas 3 variáveis para armazenar listas com as informações de cada comida.
# A seguir essas listas foram colocadas dentro da lista principal: cardapio

# Exemplo 2

# Declare a lista do xemplo acima
# Imprima o valor da posição cardapio[1][0]
# Compare os valores : Lanche == cardapio[0]

# Declarando a lista de listas:
lanche = ['lanche', 10.9]
batata = ['batata', 5.5]
refri = ['refri', 3.9]
cardapio = [lanche, batata, refri]
print(cardapio)

# Imprimindo valores 
print(f'cardapio[1][0] = {cardapio[1][0]}')

# Comparando os valores
print(f'lanche = {lanche} e cardapio[0] = {cardapio[0]}')
print(lanche == cardapio[0])

[['lanche', 10.9], ['batata', 5.5], ['refri', 3.9]]
cardapio[1][0] = batata
lanche = ['lanche', 10.9] e cardapio[0] = ['lanche', 10.9]
True

In [ ]:
# Declaração direta

# Nesse caso declara-se tudo de uma só vez.

# cardapio = [['lanche', 10.9], ['batata', 5.5], ['refri', 3.9]]

# Já neste exemplo, nós temos o [] que é a lista mais externa, no qual cada posição dela irá acessar uma das 3 listas dentro do cardapio.

# Os [] mais internos são listas de cada uma das comidas do cardápio, mostrando os nomes e preços de cada item do cardápio.

# Exemplo 3

# Declare a lista do exemplo acima
# Imprima o valor da posição: cardapio[2] e cardapio[2][1]

# Declarando variáveis
cardapio = [['lanche', 10.9], ['batata', 5.5], ['refri', 3.9]]
print(cardapio)

#Imprimindo valores
print(cardapio[2])
print(cardapio[2][1])

[['lanche', 10.9], ['batata', 5.5], ['refri', 3.9]]
['refri', 3.9]
3.9

In [ ]:
# Declaração com .append()

# Como vimos nas aulas anteriores, podemos usar o append para inserir um novo item a uma lista.

# No caso de uma lista composta, podemos usar o .append() para inserir uma nova lista dentro da lista mais externa.

# cardapio = []
# comida = []
# comida.append('lanche')
# comida.append(10.9)
# cardapio.append(comida[:])

# Verifique que primeiro temos que declarar nossa lista externa cardapio como uma lista vazia.
# A seguir crimos uma lista com os itens comida.
# Também usamos o .append() para colocarmos esse valor em uma lista externa: cardapio

# Exemplo 4
# Declare a lista cardapio inteira usando append()
#Iprima o valor da posição: cardapio[0] e cardapio[0][1]

# Declarando a lista de listas
cardapio = []
comida = []
comida.append('lanche')
comida.append(10.9)
comida.append('batata')
comida.append(5.5)
comida.append('refri')
comida.append(3.9)
cardapio.append(comida)
print(cardapio)
print(comida)


# Imprimindo valores
print(f'cardapio[0] = {cardapio[0]} e cardapio[0][1] = {cardapio[0][1]}')

[['lanche', 10.9, 'batata', 5.5, 'refri', 3.9]]
['lanche', 10.9, 'batata', 5.5, 'refri', 3.9]
cardapio[0] = ['lanche', 10.9, 'batata', 5.5, 'refri', 3.9] e cardapio[0][1] = 10.9

In [ ]:
# Declarando listas

cardapio = []
comida = []

comida.append('lanche')
comida.append(10.9)
cardapio.append(comida[:])
comida.clear()

comida.append('batata')
comida.append(5.5)
cardapio.append(comida[:])
comida.clear()

comida.append('Refri')
comida.append(3.9)
cardapio.append(comida[:])
comida.clear()

# Imprimindo valores
print(cardapio) 
print(comida)

# Observe que tivemos que usar um método novo:

# var.clear()

# Este método limpa a memória da variável, eliminando todos os valores que existiam dentro dela.
# Esse é um método muito útil para quando criamos algumas variáveis temporárias.

[['lanche', 10.9], ['batata', 5.5], ['Refri', 3.9]]
[]

In [ ]:
# Exercício 1

# Usando o método do append() e loops, crie uma lista composta, na qual o usuário irá fornecer os termos.

# A lista externa deve ter 3 itens.
# A lista interna deve ter 2 itens cada.

# Declarando as listas vazias
cardapio = []
comida = []

# Pedindo para o usuário fornecer os valores

for c in range(0,3):
  comida.append(str(input('Digite o que você quer comer:')))
  comida.append(float(input('digite o preço do que você quer comer:')))
  cardapio.append(comida[:])
  comida.clear()

print(cardapio)

Digite o que você quer comer:lanche
digite o preço do que você quer comer:10.9
Digite o que você quer comer:batata
digite o preço do que você quer comer:5.5
Digite o que você quer comer:refri
digite o preço do que você quer comer:3.9
[['lanche ', 10.9], ['batata ', 5.5], ['refri', 3.9]]

In [ ]:
# Acessando os valores de uma lista composta

# Para acessar os valores de uma lista composta é só usar os [].
# Sempre é acessado a lista mais externa para a mais interna.

# Acesso direto
# Pode acessar as listas, é só colocar a posição da lista desejada no primeiro[]

#cardapio[0] == ['lanche', 10.9]
#cardapio[1] == ['batata´, 5.5]
#cardapio[2] == ['refri', 3.9]

# Para acessar os valores dentro das listas, é só colocar a posição do valor da lista desejada no segundo[].

#cardapio[0][1] == 10.9
#cardapio[1][0] == 'batata'
#cardapio[2][0] == 'refri'

# Exemplo 5
# Dada a lista anterior, cardapio, acesse os valores listados acima.

# Acessando as listas:
print(cardapio[0])
print(cardapio[1])
print(cardapio[2])

#Acessando os valores dentro da lista.
print(cardapio[0][1])
print(cardapio[1][0])
print(cardapio[2][0])

['lanche ', 10.9]
['batata ', 5.5]
['refri', 3.9]
10.9
batata
refri

In [ ]:
# Acssando os valores dentro de um for

# Assim como podemos declarar valores dentro de um looping também podemos acessá-los

# for c in cardapio:
  # print(f'c = {c}, c[0] = {c[0]}, c[1] - {c[1]}')

# Basicamente o funcionamento do for é: Para cada lista c dentro de cardapio, plote a posição [pos] dessa lista.

# Exemplo 6
# Dada a lista anterior, cardapio, acesse.

#Todos os nomes do cardápio
#Todos os preços do cardápio.

# Imprimindo todas as listas c
for c in cardapio:
  print(f'c = {c}')

#Imprimindo todos os nomes
for c in cardapio:
  print(f'c[0] = {c[0]}')

#Imprimindo todos os preços
for c in cardapio:
  print(f'c[1] = {c[1]}')

c = ['lanche ', 10.9]
c = ['batata ', 5.5]
c = ['refri', 3.9]
c[0] = lanche
c[0] = batata
c[0] = refri
c[1] = 10.9
c[1] = 5.5
c[1] = 3.9

In [ ]:
# Exercícios

# Exercício 1
# Dada a lista:

# cardapio = ['lanche', 10.9, 'batata', 5.5, 'refri', 3.9]
# Faça um programa que irá mostrar o cardápio de forma organizada

cardapio = [['lanche', 10.9], ['batata', 5.5], ['refri', 3.9]]
print('-'*30, 'Cardápio', '-'*30)
print(cardapio)

for c in cardapio:
  print(f'Menu = {c[0]}------------------------------R$ ={c[1]}')

------------------------------ Cardápio ------------------------------
[['lanche', 10.9], ['batata', 5.5], ['refri', 3.9]]
Menu = lanche------------------------------R$ =10.9
Menu = batata------------------------------R$ =5.5
Menu = refri------------------------------R$ =3.9

In [ ]:
# Exercício 2

# Faça um programa que irá mostrar ítem a item do cardapio para o usuário.
# E irá perguntar quantos daquele ítem a pessoa quer comprar.
# No final mostre a quantidade de cada íten e também o valor total da cobrança.

cardapio = [['lanche', 10.9], ['batata', 5.5], ['refri', 3.9]]
qtd = []
soma = 0
valorMenu = 0

for c in cardapio: 
  print(f' Menu = {c[0]} --------------------------R$:{c[1]}')
  qtd = (float(input(f'Quantos {c[0]} você deseja?')))
  preco = c[1]
  valorMenu = qtd * preco
  soma+= valorMenu
  print(valorMenu)

print(' O total de seu pedido foi R$ {:.2f}'.format(soma))

 Menu = lanche --------------------------R$:10.9
Quantos lanche você deseja?1
10.9
 Menu = batata --------------------------R$:5.5
Quantos batata você deseja?1
5.5
 Menu = refri --------------------------R$:3.9
Quantos refri você deseja?1
3.9
 O total de seu pedido foi R$ 20.30

In [ ]:
# Exercício 3
# Faça um programa em que o usuário cadastre algumas informações sobre o cliente:
#Nome
#E-Mail
#telefone 
#Idade
# Em seguida faça um sistema de pesquisa onde o usuário digite o E-mail e o sistema mostre todas as informações sobre o usuário.

dados = ['Nome', 'E-mail', 'telefone', 'Idade']
dados1 =[]

for i in range(0,4):
  dados1.append(input('Digite o {} do cliente:'.format(dados[i])))

Email = input('Digite o E-mail do cliente:')

if Email == dados1[1]:
  print(dados1)
else:
  print('Cliente não encontrado.')
print('Fim.')

Digite o Nome do cliente:Cassiano
Digite o E-mail do cliente:ocara@hot.com
Digite o telefone do cliente:51 999999999
Digite o Idade do cliente:44
Digite o E-mail do cliente:ocara@hot.com
['Cassiano', 'ocara@hot.com', '51 999999999', '44']
Fim.

In [ ]:
# Dicionários 

# Os dicionários são lista com índices txtuais.

# Os dicionários são estruturas de dados, semelhantes a listas, que as posições ao invés de números são chaves.

# Lista
# lista = ['Everton', 29, 'São José']

# Dicionários
# dicio = {'nome': 'Everton',
#          'idade': 29,
#          ''cidade': 'São José'}

# Exemplo 1
# Declare e imprima as duas listas acima exatamente como estão.

# Lista:
lista = ['Everton', 29, 'São José']

#Dicionário equivalente.
dicio = {
         'nome': 'Everton',
         'idade': 29,
         'cidade': 'São José'
}

print(lista)
print(dicio)

# Comparando os dois resultados vemos que os índices numéricos são substituídos por chaves textuais:

#             [0]    [1]      [2]
# lista = ['Everton', 29, 'São José']

# Então para acessarmos os valores exatos das listas que desejamos, é necessário saber o que cada posição significa, senão faremos análises erradas.

# Já no dicionário, fica assim:

#          'nome':   'idade':     'cidade':
# dicio = ['Everton',   29,      'São José']

# Muito similar às colunas de uma tabela ou banco de dados.

['Everton', 29, 'São José']
{'nome': 'Everton', 'idade': 29, 'cidade': 'São José'}

In [ ]:
# Estruturas de um Dicionário.

# A estrutura de um dicionário é baseada em 3 pontos importantes: keyz, values, items

# Vamos observar novamente o dicionário de exemplo:

#          'keys': 'values'
# dicio = {
#           'nome': 'Everton',  -> items 
#          'idade': 29,
#          ''cidade': 'São José'
#}

# As keys são as chaves, o que substituem as posições de uma lista. Quando quisermos acessar um valor de um dicionário é 
# dessa chave que temos que lembrar. Assim como em um banco e dados são as colunas que vamos acessar se precisarmos saber 
# os nomes.

# Os values são os valores, equivalente aos valores dentro de uma lista. São as informações importantes do objeto que 
# queremos acessar e fazer análises.

# Os items são os conjuntos de key + value, uma novidade dos dicionários que irão nos ajudar nos loopings.

# Manipulando um dicionário

# Declarando um dicionário
# Todo dicionário é declarado pelas {}

# Declarando um dicionário vazio:
#   dic1 = {}
#   dic2 = dict()

# Declarando um dicionário já preenchido:
# Dic3 = {
#        'key1': 'value1',
#        'key2': 'value2',
#        'key3': 'value3' 
# }   

# Pontos de atenção na declaração

# Todas as keys são strings, e portanto devem estar entre aspas.
# Os values podem ser qualquer tipo de dado e/ou estrutura: str, int, float, bool, list, tuple, dict
# A declaração direta de valor para uma chave é sempre feita com :
# Embora não seja necessário, é comum declarar um dicionário dando 'enter' entre cada chave para ficar visualmente mais fácil de ler.

# Exemplo 2 
# Imprima os 3 dicionários acima e veja se você declarou corretamente.

# Declarando dicionários
dic1 = {}
dic2 = dict()
dic3 = {
      'key1': 'value1',
      'key2': 38.5,
      'key3': True,
      'key4': [0, 1]
}

# Imprimindo
print(dic1)
print(dic2)
print(dic3)

# Assim como nas listas, a declaração de dicionários vazios são ótimos para quando os valores do dicionário precisam 
# ser declarado pelo usuário ou lidos de uma fonte externa.

# Acessando valores 
# dicio['key'] == value

# Acessar os valores de um dicionário é muito similar a acessar os valores de uma lista. Só que no lugar da posição usamos as chaves.

# Exemplo 3 
# Dado o dicionário abaixo, acesse cada um de seus valores

{}
{}
{'key1': 'value1', 'key2': 38.5, 'key3': True, 'key4': [0, 1]}

In [ ]:
# Dicionários 

# Os dicionários são lista com índices txtuais.

# Os dicionários são estruturas de dados, semelhantes a listas, que as posições ao invés de números são chaves.

# Lista
# lista = ['Everton', 29, 'São José']

# Dicionários
# dicio = {'nome': 'Everton',
#          'idade': 29,
#          ''cidade': 'São José'}

# Exemplo 1
# Declare e imprima as duas listas acima exatamente como estão.

# Lista:
lista = ['Everton', 29, 'São José']

#Dicionário equivalente.
dicio = {
         'nome': 'Everton',
         'idade': 29,
         'cidade': 'São José'
}

print(lista)
print(dicio)

# Comparando os dois resultados vemos que os índices numéricos são substituídos por chaves textuais:

#             [0]    [1]      [2]
# lista = ['Everton', 29, 'São José']

# Então para acessarmos os valores exatos das listas que desejamos, é necessário saber o que cada posição significa, senão faremos análises erradas.

# Já no dicionário, fica assim:

#          'nome':   'idade':     'cidade':
# dicio = ['Everton',   29,      'São José']

# Muito similar às colunas de uma tabela ou banco de dados.

['Everton', 29, 'São José']
{'nome': 'Everton', 'idade': 29, 'cidade': 'São José'}

In [ ]:
# Exemplo 3 
# Dado o dicionário abaixo, acesse cada um de seus valores 

# pessoa = {
#          'nome': 'Everton',
#          'idade': 29,
#          'cidade': 'São José'
#}

# Declarando dicionário:
pessoa = {
        'nome': 'Everton',
        'idade': 29,
        'cidade': 'São José'
}

# Acessando os valores
print(pessoa['nome'])
print(pessoa['idade'])
print(pessoa['cidade'])

Everton
29
São José

In [ ]:
# Modificando valores 

#dicio['key'] = value
# Similar às listas, se atribuirmos valor a uma posição/chave, já modificamos o valor da chave do dicionário.

# Exemplo 4
# Usando o mesmo dicionário:'pessoa', modifique a chave 'cidade' para 'São Paulo' e imprima o resultado.

# Modificando o valor:
pessoa['cidade'] = 'São Paulo'

# Imprimindo valores:
print(pessoa)
print(pessoa['cidade'])

{'nome': 'Everton', 'idade': 29, 'cidade': 'São Paulo'}
São Paulo

In [ ]:
# Criando uma nova chave
# dicio['key'] = value

# Para criar uma nova chave é exatamente igual a modificar uma chave. A partir do momento que atribuímos um valor, o Python verifica
# se aquela chave já existe no dicionário. Caso não exista ela cria uma nova automaticamente.

# Exemplo 5
# Usando o mesmo dicionário pessoa, crie uma chave 'peso' com valor de 65 e imprima o resultado.

# Criando uma chave
pessoa['peso'] = 65

# Imprimindo valores 
print(pessoa)
print(pessoa['peso'])

# Cuidado na declaração de novas chaves

# O Python é case sensitive, se você tentar modificar o valor de uma chave, mas não colocar o nome da chave exatamente igual, será criada uma nova chave.
# Sempre teste seus programas conforme for codando.

{'nome': 'Everton', 'idade': 29, 'cidade': 'São José', 'peso': 65}
65

In [ ]:
# Exemplo 6
# Usando o mesmo dicionário: pessoa, crie uma chave Cidade com o valor de 'São José' e imrpima o dicionário completo.

# Criando uma chave
pessoa['Cidade'] = 'São José'

# Imprimindo valores
print(pessoa)

# Repare que agora temos duas chaves similares. Siga sempre o mesmo padrão de criação de nome de variáveis, listas, chaves, dicionários, etc.
# Reduza esse risco
# Sempre analise as atuais chaves de um objeto antes de editá - lo de qualquer maneira.

{'nome': 'Everton', 'idade': 29, 'cidade': 'São Paulo', 'peso': 65, 'Cidade': 'São José'}

In [ ]:
# Deletando uma chave com seu valor
# del dicio['chave']

# Muito similar ao que fazíamos em listas, podemos usar o comando del.

# Exemplo 7
# Usando o mesmo dicionário pessoa, delete a chave Cidade e imprima o dicionário completo.

# Deletando uma chave
del pessoa['Cidade']

# Imprimindo valores
print(pessoa)

{'nome': 'Everton', 'idade': 29, 'cidade': 'São Paulo', 'peso': 65}

In [ ]:
# Acessando o dicionário

# dicio    dicionário completo
# dicio.values()   somente os valores do dicionário
# dicio.keys()    somente as chaves do dicionário
# dicio.items()    chaves e valores de dicionário (usado em looping)

# Como visto anteriormente, os dicionários possuem 3 itens principais, e usaremos eles para acessar parâmetros específicos dos dicionários.

# Exemplo 8

# Usando o mesmo dicionário: pessoa, imprima cada um dos itens acima

# Imprimindo valores 
print(pessoa)
print(pessoa.values())
print(pessoa.keys())
print(pessoa.items())

# Repare que os 3 itens acabam ficando perecidos com uma lista. Se usarmos o comando list() podemos até converter cada um desses
# itens em listas para trabalharmos de outras maneiras.

{'nome': 'Everton', 'idade': 29, 'cidade': 'São Paulo', 'peso': 65}
dict_values(['Everton', 29, 'São Paulo', 65])
dict_keys(['nome', 'idade', 'cidade', 'peso'])
dict_items([('nome', 'Everton'), ('idade', 29), ('cidade', 'São Paulo'), ('peso', 65)])

In [ ]:
# Dicionário dentro do for
# É comum utilizarmos os dicionários dentro do loopings para fazermos as análises. E para isso faremos uso dos 3 itens vistos acima:
# values, keys e items

# Acessando os valores 

# for v in dicio.values():
#   print(v)

# Acima entende-se. Para cada valor dentro dos valores do dicionário, imprima o valor.

# Exemplo 9
# Considerando o dicionário pessoa imprima cada um de seus valores.

# Imprimindo valores
for v in pessoa.values():
  print(v)

Everton
29
São Paulo
65

In [ ]:
for v in pessoa.values():
  print(f' O valor é:{v}')

 O valor é:Everton
 O valor é:29
 O valor é:São Paulo
 O valor é:65

In [ ]:
# Acessando chaves
# for k in dicio.kays():
#   print(k)

# Acima entende-se: Para cada chave dentro da chave dicionário, imprima chave.

# Exemplo 10
# Considerando o dicionário pessoa imprima cada um de suas chaves.

# imprimindo chaves
for k in pessoa.keys():
  print(k)

nome
idade
cidade
peso

In [ ]:
for k in pessoa.keys():
  print(f'A chave é:{k}')

A chave é:nome
A chave é:idade
A chave é:cidade
A chave é:peso

In [ ]:
# Acessando items
# for k, v in dicio.items():
#   print(k,v)

# Acima entende-se: para cada chave e valor dentro dos itens do dicionário, imprima chave e valor.

# Exemplo 11 
# Considerando o dicionário pessoa imprima cada uma de suas chaves e respectivos valores.

# Imprima chaves e valores 
for k, v in pessoa.items():
  print(k,v)

nome Everton
idade 29
cidade São José
peso 65

In [ ]:
for k, v in pessoa.items():
  print(f'O(A) {k} é: {v}')

O(A) nome é: Everton
O(A) idade é: 29
O(A) cidade é: São José
O(A) peso é: 65

In [ ]:
# Exercício 1
# Dado o dicionário abaixo:

# cardapio = {
#             'lanche' = 10.9,
#             'batata' = 5.5,
#             'refri' = 3.9              
#}

# Mostre o cardapio para o usuário 
# Pergunte quantos itens ele quer de cada
# Calcule e mostre o valor total da compra

# Declarando dicionário:
cardapio = {'lanche': 10.9,
            'batata': 5.5,
            'refri' : 3.9}

# Mostrando cardápio:
print('-'*40)
print('-'*15, 'CARDÁPIO', '-'*15)

for k, v in cardapio.items():
  print(f'{k:.<20} R$ {v:5.2f}')
print('-'*40)
# Pergunte quantos de cada
qtd = {}
for k in cardapio.keys():
  qtd[k] = int(input(f'Quantos(as) {k}(s) você deseja?'))
print('-'*40)

# Calcule o valor total da compra
soma = 0
for v1, v2 in zip(cardapio.values(), qtd.values()):
  soma+= v1 * v2

# Imprimindo recibo
print('-'*40)
print('-'*15, ' RECIBO ', '-'*15)
for k, v in qtd.items():
  print(f'{v} - {k:.<20} = R${v * cardapio[k]:5.2f}')

print('-'*34)
print(f'       O valor total é de: R${soma:.2f}')

----------------------------------------
--------------- CARDÁPIO ---------------
lanche.............. R$ 10.90
batata.............. R$  5.50
refri............... R$  3.90
----------------------------------------
Quantos(as) lanche(s) você deseja?1
Quantos(as) batata(s) você deseja?2
Quantos(as) refri(s) você deseja?3
----------------------------------------
----------------------------------------
---------------  RECIBO  ---------------
1 - lanche.............. = R$10.90
2 - batata.............. = R$11.00
3 - refri............... = R$11.70
----------------------------------
       O valor total é de: R$33.60

In [ ]:
# Dicionário dentro de listas 

# Os dicionários são como colunas de uma tabela, as listas são como suas linhas, formando uma tabela completa.

# Estrutura

# Imaginando uma tabela temos: 

# linhas        'key1'          'key2'           'key3':
#  [0]          valor11         valor12          valor13
#  [1]          valor21         valor22          valor23
#  [2]          valor31         valor32          valor33

# Imaginando que cada linha é uma lista, temos:

# lista1 = [value11, value12, value13]
# lista2 = [value21, value22, value23]
# lista3 = [value31, value32, value33]

# Colocando cada valor e sua respectiva chave dentro do dicionário, tems:

# lista[0] = ['key1': value11, 'key2': value21, 'key3':value31]
# lista[1] = ['key1': value21, 'key2': value22, 'key3':value32]
# lista[3] = ['key1': value31, 'key2': value23, 'key3':value33]

# Exemplo 12

# Dada a lista de dicionário abaixo:

# pessoas = [
#           {'nome': 'Everton', 'idade':29, 'cidade': 'São José'},
#           {'nome': 'Thiago', 'idade':34, 'cidade': 'São Paulo'},
#           {'nome': 'André',  'idade':22, 'cidade': 'Lorena'}
#]

# Faça:
#Imprima cada posição da list sem usar o for.
# Imprima o nome da pessoa 1, a idade da pessoa 2, e a cidade da pessoa 3.

# Copiando a lista de dicionário
pessoas = [ 
           {'nome': 'Everton', 'idade':29, 'cidade': 'São José'},
           {'nome': 'Thiago', 'idade': 34, 'cidade': 'São Paulo'},
           {'nome': 'André', 'idade': 22, 'cidade': 'Lorena'}
]

# Imprimindo cada lista
print(pessoas[0])
print(pessoas[1])
print(pessoas[2])

# Imprimindo o nome da pessoa 1
print(pessoas[0]['nome'])

# Imprimindo a idade da pessoa 2
print(pessoas[1]['idade'])

# Imprimindo a cidade da pessoa 3
print(pessoas[2]['cidade'])

{'nome': 'Everton', 'idade': 29, 'cidade': 'São José'}
{'nome': 'Thiago', 'idade': 34, 'cidade': 'São Paulo'}
{'nome': 'André', 'idade': 22, 'cidade': 'Lorena'}
Everton
34
Lorena

In [ ]:
# For dentro do For

# Quando temos listas ou dicionários aninhados, é comum precisarmos rodar for dentro de for para acessar os valores que precisamos.
# Um for para cada nível de aninhamento.

# Estrutura
# for l in listas:
#   print(l)
#   for k, v in l.items():
#     print(k, v)

# Lê-se:
# Para cada lista (dentro de listas) imrpima lista.
# Para cada item da lista selecionada imprima chave e valor.

# Exemplo 13 
# Dada a lista: pessoas. Execute a estrutura acima.

# montando o for
for p in pessoas:
  print(f'Dados da pessoa:{p}')
  for k,v  in p.items():
    print(f' A Chave {k} é: {v}')

Dados da pessoa:{'nome': 'Everton', 'idade': 29, 'cidade': 'São José'}
 A Chave nome é: Everton
 A Chave idade é: 29
 A Chave cidade é: São José
Dados da pessoa:{'nome': 'Thiago', 'idade': 34, 'cidade': 'São Paulo'}
 A Chave nome é: Thiago
 A Chave idade é: 34
 A Chave cidade é: São Paulo
Dados da pessoa:{'nome': 'André', 'idade': 22, 'cidade': 'Lorena'}
 A Chave nome é: André
 A Chave idade é: 22
 A Chave cidade é: Lorena

In [ ]:
# Exercício 2
# Dada essa mesma lista de pessoas 
# Imprima somente os nomes da seguinte forma:
# O Nome da pessoa [1] é:'valor'

# Imprima a cidade das pessoas com menos de 30 anos.
# A pessoa[N] tem [idade] anos e o nome dela é [nome] e mora em [cidade]

# Imprimir somente os nomes

for i, p in enumerate(pessoas):
  print(f" O nome da pessoa {i+1} é {p['nome']}")

 O nome da pessoa 1 é Everton
 O nome da pessoa 2 é Thiago
 O nome da pessoa 3 é André

In [ ]:
# Imprimindo os dados de pessoas com menos de 30 anos:
for i, p in enumerate(pessoas):
  for k,v in p.items():
    if k == 'idade' and v < 30:
      print(f" A pessoa {i+1} tem {p['idade']} anos e o nome dela é {p['nome']} e mora em {p['cidade']}")

 A pessoa 1 tem 29 anos e o nome dela é Everton e mora em São José
 A pessoa 3 tem 22 anos e o nome dela é André e mora em Lorena

In [ ]:
# Copiando dicionários para listas 

# Quando queremos inserir um dicionário dentro de uma lista, não podemos usar o método do fatiamento para fazer a cópia da lista temporária,
# então faremos:

# lista.append(dicionario.copy())

# Estrutura

# dicio - {}
# lista - []
# for d in rage(ini,fim):
#   dicio['key1'] = input('valor1 = ')
#   dicio['key2'] = input('valor2 = ')
#   lista.append(dicio.copy())

# Assim como nas listas, começamos valores imputados pelo usuário em um dicionário temporário e a seguir copiamos para a lista.

# Não podemos usar lista.append(dicio) pois assim iríamos acionar a lista.
# Não podemos usar lista.append(dicio[:]) pois os dicionários não aceitam append.

# Exemplo 14
# Faça um sistema que pergunte e salve em lista de dicionários o nome e a idade de pessoas. Pergunte ao usuário quando ele quer parar.

# Declarando lista e dicio vazios 
temp = {}
pessoas = []

while True:
  temp['nome'] = str(input('Fale um nome:'))
  temp['idade'] = int(input('fale uma idade:'))
  controle = str(input('Você quer continuar?(S/N'))
  pessoas.append(temp.copy())
  if controle == 'N':
    break

print(pessoas)

Fale um nome:Cassiano
fale uma idade:44
Você quer continuar?(S/NS

In [ ]:
# Exercício 1
# Crie uma lista de dicionários contendo as notas de todos os alunos de uma sala(5 alunos).
# No dicionário é para ter os campos:
# Nome, nota1, nota2, média, status

# Peça para o usuário digitar as notas de cada aluno
# Tire a média de notas e adicione no dicionário
# Se a média for igual ou maior que 7 coloque 'aprovado. Caso contrário, reprovado.
# Calcule a média das médias e calcule para o professor


alunos = {}
dados = []
media = 0
soma = 0
status = 0

for i in range(1,6):
  alunos['nome'] = str(input('Digite o nome do aluno:'))
  alunos['nota1'] = float(input('Digite a primeira nota do aluno:'))
  alunos['nota2'] = float(input('Digite a sgunda nota do aluno:'))
  soma = alunos['nota1'] + alunos['nota2'] 
  media = soma/2
  if media >= 7:
    print( 'Aprovado')
    status = 'Aprovado'
  else:
    print('Reprovado')
    status = 'Reprovado'
    
    
  print(soma)
  print(media)
  alunos['media'] = media
  alunos['status'] = status
  dados.append(alunos.copy())
  
    
print(dados)

Digite o nome do aluno:Cassiano
Digite a primeira nota do aluno:8
Digite a sgunda nota do aluno:8
Aprovado
16.0
8.0
Digite o nome do aluno:Joana
Digite a primeira nota do aluno:10
Digite a sgunda nota do aluno:10
Aprovado
20.0
10.0
Digite o nome do aluno:Paulo
Digite a primeira nota do aluno:8
Digite a sgunda nota do aluno:8
Aprovado
16.0
8.0
Digite o nome do aluno:Fabiana

In [ ]:
# Exercício 2
# Adapte o sistema anterior para que as notas 1 e 2 estejam dentro de uma lista.
# O dicionário irá conter:nome, nota[nota1 nota2], media, status

alunos = {}
dados = []
media = 0
soma = 0
status = 0
nota = []
nota1 = 0
nota2 = 0

for i in range(1,6):
  alunos['nome'] = str(input('Digite o nome do aluno:'))
  nota1 = float(input('Digite a primeira nota do aluno:'))
  nota2 = float(input('Digite a sgunda nota do aluno:'))
  
  nota = [nota1, nota2]
  soma = nota1 + nota2
  media = soma/2
  if media >= 7:
    print( 'Aprovado')
    status = 'Aprovado'
  else:
    print('Reprovado')
    status = 'Reprovado'

  print(soma)
  print(media)
  alunos['nota'] = nota
  alunos['media'] = media
  alunos['status'] = status
  dados.append(alunos.copy())
  
    
print(dados)

Digite o nome do aluno:Cassiano
Digite a primeira nota do aluno:9
Digite a sgunda nota do aluno:8
Aprovado
17.0
8.5
Digite o nome do aluno:Edilce
Digite a primeira nota do aluno:9
Digite a sgunda nota do aluno:8
Aprovado
17.0
8.5
Digite o nome do aluno:Fabiana
Digite a primeira nota do aluno:5
Digite a sgunda nota do aluno:4
Reprovado
9.0
4.5
Digite o nome do aluno:Joana
Digite a primeira nota do aluno:10
Digite a sgunda nota do aluno:10
Aprovado
20.0
10.0
Digite o nome do aluno:Paulo
Digite a primeira nota do aluno:8
Digite a sgunda nota do aluno:8
Aprovado
16.0
8.0
[{'nome': 'Cassiano', 'nota': [9.0, 8.0], 'media': 8.5, 'status': 'Aprovado'}, {'nome': 'Edilce', 'nota': [9.0, 8.0], 'media': 8.5, 'status': 'Aprovado'}, {'nome': 'Fabiana', 'nota': [5.0, 4.0], 'media': 4.5, 'status': 'Reprovado'}, {'nome': 'Joana', 'nota': [10.0, 10.0], 'media': 10.0, 'status': 'Aprovado'}, {'nome': 'Paulo', 'nota': [8.0, 8.0], 'media': 8.0, 'status': 'Aprovado'}]

In [ ]:
# Função sem parâmetro de entrada
# Faça uma função que imprima algo:

# Funçao imprimir 
def ola():
  print('Olá, seja muito bem vindo.')
  print('--------------------------')

# Programa principal
print('Ação 1')
ola()
print('Pegar dados')
ola()

# A partir do momento que a função esta declarada e rodando, o nome da função passa a ser uma nova função que você pode executar a qualquer momento.

Ação 1
Olá, seja muito bem vindo.
--------------------------
Pegar dados
Olá, seja muito bem vindo.
--------------------------

In [ ]:
# Exercício 1

# Função Bem-Vindo
def bemvindo():
  print('-------------------------------')
  print('---------  Bem-Vindo ----------')
  print('-------------------------------')

# Principal
bemvindo()

-------------------------------
---------  Bem-Vindo ----------
-------------------------------

In [ ]:
# Função com parâmetro de entrada
# Exemplo 1 

# Faça um programa que o usuário escreva a frase e o programa imprime:

# Função imprimir
def txt(frase):
  tamanho = len(frase)
  print(frase)

  
# Principal
frase = str(input('Digite uma frase pequena:'))
txt(frase)

Digite uma frase pequena:Seja bem vindo
Seja bem vindo

In [ ]:
# Exercício 2
# Faça um programa que some 2 números 

# Função imprimir
def soma(a, b):
  s = a + b
  print(f'A soma é de {s}')

# Principal
soma(-2,5)

valor1 = 4
valor2 = 8
soma(valor1,valor2)

A soma é de 3
A soma é de 12

In [ ]:
# Funções com parâmentros opcionais
# Exemplo 2
# Refaça o programa da soma, mas agora com todos os parâmetros opcionais

# Funçao soma
def soma(a, b = 0):
  s = a + b
  print(f'A soma é {s}')

# Principal
valor1 = 4
valor2 = 8
soma(valor1,valor2)

soma(2)

A soma é 12
A soma é 2

In [ ]:
# Funções com retorno
# Configura se algum valor deve voltar para o usuário do programa.
# Exemplo 3

# Funçao soma
def soma(a, b = 0):
  s = a + b
  return s

# Principal 
variavel = soma(5,2)
print(variavel)

7

In [ ]:
# Exemplo 4
# Faça uma funçao média, que calcule a média de uma quantidade indeterminada de números

# Função média
def media(*num):
  soma = 0
  qtd = len(num)
  for n in num:
    soma += n
  media = soma / qtd
  return media 

# Principal
var = media(1,3,5,7,9)
print(var)

5.0

In [ ]:
# help e Docstring

# help
help(print)
help(len)
help(sorted)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [ ]:
# Docstring
help(media)

Help on function media in module __main__:

media(*num)
    # Função média

In [ ]:
# Observe que a função que criamos ainda não possui nenhuma informação(docstring).
# Iremos produzir

# Exemplo 5
# Crie o docstring da função media 

# Função media
def media(*num):
  """
  A função média calcula a média de diversos números. Você deve colocá - los direto.
  Função não aceita listas, nem dicionários.
  num: são os números enviados, int ou float.
  return: media = média dos números.
  Autor: Everton
  Versão: 1.0
  """
  soma = 0
  qtd = len(num)
  for n in num:
    soma += n
  media = soma / qtd
  return media 

 # Principal
var = media(1,3,5,7,9)
print(var)

help(media)

5.0
Help on function media in module __main__:

media(*num)
    A função média calcula a média de diversos números. Você deve colocá - los direto.
    Função não aceita listas, nem dicionários.
    num: são os números enviados, int ou float.
    return: media = média dos números.
    Autor: Everton
    Versão: 1.0

In [ ]:
# Escopo local e Global
# Exemplo 6
# Modifique o programa de soma, demodo que você imprima os valores a, b, c e s nos dois escopos.

# Função de somar
def soma(a, b = 0):
  s = a + b
  a = 8
  print(a,b,c,s)
  return s 

# Principal
a = 5
b = 2
c = 3
somado = soma(a,b)
print(a,b)
#print(s)
print(somado)

# Principal

8 2 3 7
5 2
7

In [ ]:
from re import S
# Modifique o programa de soma, coloque as variáveis c e s como globais

# Função soma
def soma(a, b = 0):
  global c, s
  s = a + b
  c = 8
  print(a,b,c,s)
  return s 

# Principal
a = 5
b = 2
c = 3
somad = soma(a,b)
print(a,b,c)
print(somado)

5 2 8 7
5 2 8
7

In [ ]:
# Funções nativas.
# O Python possui diversas funções nativas. Quer saber mais sobre elas? Rode o comando:
# dir(_bultins_) 

dir(__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [ ]:
# Erro

UnboundLocalError: ignored

In [ ]:
lista1 =[1,2,3,4,5]
lista2 =[1,2,3,4,5]
lista3 = lista1 + lista2
print(lista3)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
altura = 1.75
peso = 79.2
imc = peso/altura**2
print('{:.2f}'.format(imc))

25.86

In [ ]:
a = 10
b = 3
c = int(a)%int(b)
print(c)

1

In [ ]:
area = [200,'null',720,1500,1000,275,'null',1200,2400,'null'] 
altura = ['null',30,40,30,10,25,33,'null',12,20] 
largura = [20,20,'null',50,100,'null',30,100,200,10]

print(len(area),len(altura),len(largura))


def preeche(a,b,h):
  area_full = []
  largura_full = []
  altura_full = []

10 10 10

In [ ]:
print('13'+'90')

1390

In [ ]:
print(13)
print("13")

13
13

In [ ]:
x =input('digite algo:')
type(x)

digite algo:5

str

In [ ]:
cidade = "São José"
estado = "SP"
pais = "Brasil"

print("Nasci em "+ cidade +", uma cidade do interior de"+ estado +" que pertence ao sudeste do"+pais)
print("Nasci em ", cidade ,", uma cidade do interior de", estado ," que pertence ao sudeste do" , pais)
print("Nasci em {} uma cidade do interior de {} que pertence ao sudeste do {}".format(cidade,estado,pais))

Nasci em São José, uma cidade do interior deSP que pertence ao sudeste doBrasil
Nasci em  São José , uma cidade do interior de SP  que pertence ao sudeste do Brasil
Nasci em São José uma cidade do interior de SP que pertence ao sudeste do Brasil

In [ ]:
preco_peca = float(input('Qual o preço'))
saldo = float(input( 'saldo'))

if preco_peca <= saldo:
  print(' pode comprar {}'.format(saldo-preco_peca))
else:
  print('sem saldo, falta{}'.format(preco_peca-saldo))
print('fim')

Qual o preço20
saldo8
sem saldo, falta12.0
fim

In [ ]:
l1 =[1, 5, 12, 14, 15, 20]
l2 =[2, 3, 7, 10, 11]
l3 = l2[:]
l4 = l2
l4.pop()
l5 = []

for v1,v2 in zip(l1,l2):
  l5.append(v1+v2)
  print('v1 {} e v2 {}'.format(v1,v2))

print(l5)

v1 1 e v2 2
v1 5 e v2 3
v1 12 e v2 7
v1 14 e v2 10
[3, 8, 19, 24]

In [ ]:
print("{:.2f}".format(3.14159265359))

3.14

In [ ]:
[3, 6, 8, 2, 5, 4, 9, 1, 2, 13, 6, 10, 7, 14]
passo = range(1,1)
soma = 0
for i in passo:
  soma += i
print(soma)

0

In [ ]:
l = [0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1] 
print(len(l))
print(l.count(0))
print(l.count(1))

248
133
115

In [ ]:
dicionario = {'a':5, 'b':8.2, 'c':9, 'd':3, 'e': 100, 'f': 101, 'g': 210, 'h':12000, 'i':10000, 'j':1000000, 'k':-10**1000, 'l':-1000000}

In [ ]:
area = [200,'null',720,1500,1000,275,'null',1200,2400,'null'] 
altura = ['null',30,40,30,10,25,33,'null',12,20] 
largura = [20,20,'null',50,100,'null',30,100,200,10]
print(len(area), len(altura), len(largura))

def preenche (a,b,h):
  area_full = []
  largura_full = []
  altura_full = []
  for area,largura,altura in zip(a,b,h):
    if type(area)!=int:
      area_full.append(int(largura*altura))
    else:
      area_full.append(area)
    if type(largura)!=int:
      largura_full.append(int(area/altura))
    else:
      largura_full.append(largura)
    if type(altura)!=int:
      altura_full.append(int(area/largura))
    else:
      altura_full.append(altura)
  return (area_full,largura_full,altura_full)
(area,largura,altura)=preenche(area,largura,altura)
print(area)
print(largura)
print(altura)

10 10 10
[200, 600, 720, 1500, 1000, 275, 990, 1200, 2400, 200]
[20, 20, 18, 50, 100, 11, 30, 100, 200, 10]
[10, 30, 40, 30, 10, 25, 33, 12, 12, 20]

In [ ]:
treinamentos = [{'treinamento':'Scrum','moedas':30}, 
                {'treinamento':'Data Science','moedas':40}, 
                {'treinamento':'Gestão de Projetos','moedas':50}, 
                {'treinamento':'Marketing','moedas':30}, 
                {'treinamento':'Cloud','moedas':20}, 
                {'treinamento':'Blockchain','moedas':10}, 
                {'treinamento':'Python','moedas':30}]

pedidos = ['Scrum','Data Science','Gestão de Projetos','Marketing','Cloud','Python','Python','Python', 
           'Scrum','Data Science','Gestão de Projetos','Marketing','Data Science','Gestão de Projetos',
           'Python','Marketing','Data Science','Gestão de Projetos','Data Science','Gestão de Projetos','Data Science']

def get_value (x,b):
  for a in x:
    if a['treinamento']in b:
      print('valor:',a['moedas'])
      return a['moedas']

ped = sorted(set(pedidos))
for a in ped:
  print('solicitações:',pedidos.count(a),'\ntreinamento:',a)
  valor = get_value(treinamentos,a)
  for b in treinamentos:
    if a == b['treinamento']:
      b['total_pedidos']=pedidos.count(a)

solicitações: 1
treinamento: Cloud
valor: 20
solicitações: 6
treinamento: Data Science
valor: 40
solicitações: 5
treinamento: Gestão de Projetos
valor: 50
solicitações: 3
treinamento: Marketing
valor: 30
solicitações: 4
treinamento: Python
valor: 30
solicitações: 2
treinamento: Scrum
valor: 30

In [ ]:
treinamentos

[{'treinamento': 'Scrum', 'moedas': 30, 'total_pedidos': 2},
 {'treinamento': 'Data Science', 'moedas': 40, 'total_pedidos': 6},
 {'treinamento': 'Gestão de Projetos', 'moedas': 50, 'total_pedidos': 5},
 {'treinamento': 'Marketing', 'moedas': 30, 'total_pedidos': 3},
 {'treinamento': 'Cloud', 'moedas': 20, 'total_pedidos': 1},
 {'treinamento': 'Blockchain', 'moedas': 10},
 {'treinamento': 'Python', 'moedas': 30, 'total_pedidos': 4}]

In [ ]:
# Estratégia. Atender o maior número possível de pedidos.

budget = 150
count = 6
total = []

while budget >0:
  for a in treinamentos:
    qtd = a.get('total_pedidos',0)
    if qtd == count:
      print('treinamento',a['treinamento'],'comprado')
      total.append(qtd)
      budget=budget-a['moedas']
      count=count-1
    else:
      continue
print('Total de pedidos atendidos',sum(total),'representando',sum(total)/len(pedidos), '% de atendimento','\ntreinamento')
print(' budget no caixa:', budget)

treinamento Data Science comprado
treinamento Gestão de Projetos comprado
treinamento Python comprado
treinamento Marketing comprado
Total de pedidos atendidos 18 representando 0.8571428571428571 % de atendimento
treinamento
 budget no caixa: 0

In [ ]:
print(sorted(pedidos))
print(set(pedidos))

['Cloud', 'Data Science', 'Data Science', 'Data Science', 'Data Science', 'Data Science', 'Data Science', 'Gestão de Projetos', 'Gestão de Projetos', 'Gestão de Projetos', 'Gestão de Projetos', 'Gestão de Projetos', 'Marketing', 'Marketing', 'Marketing', 'Python', 'Python', 'Python', 'Python', 'Scrum', 'Scrum']
{'Scrum', 'Data Science', 'Python', 'Cloud', 'Marketing', 'Gestão de Projetos'}